
<div xmlns:th="http://www.thymeleaf.org">
    <div>Dear <span th:text="${user.name}"></span>,</div>

    <p>
        Thank you for registering  <span th:text="${organization.name}"></span> with EDExchange.  Your application is
        currently being reviewed.  When the review process is complete, your organization will be added to the EDExchange
        directory.
    </p>

    <p>
        A user account has been created for you with the username and password that you provided in registration form.
        You may login <a th:href="${loginURL}">here.</a> While your application is being reviewed, all
        EDExchange features are available, but your organization will not be included in the directory until the application
        is approved.
    </p>

    <p>
        When the status of your application changes, you will receive another email. Messages can also be viewed in the
        EDExchange application by selecting "Messages" from the menu.
    </p>

    <p>
        Thank you from the EDExchange team.
    </p>
</div>


