
<div xmlns:th="http://www.thymeleaf.org">
    <p>
        An application for EDExchange membership has been received for <a th:href="${organizationURL}"><span th:text="${organization.name}"></span></a>.
        You are required to review the application and organization information and enable the organization to accept
        the application.
    </p>

    <p>
        The application was submitted by the primary contact for the organization, <a th:href="${userURL}"><span th:text="${user.name}"></span></a>.
    </p>
</div>

