<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:soap="http://cxf.apache.org/bindings/soap" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://cxf.apache.org/bindings/soap http://cxf.apache.org/schemas/configuration/soap.xsd 
                    http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
                    http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
                    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="org.pesc.edexchange.v1_0.dao" />

    <!-- Filters -->
    <bean id="cors-filter" class="org.apache.cxf.rs.security.cors.CrossOriginResourceSharingFilter" />

    <!-- Swagger API listing resource -->
    <bean id="swaggerResource"
          class="io.swagger.jaxrs.listing.ApiListingResource" />

    <bean id="swaggerConfig" class="io.swagger.jaxrs.config.BeanConfig">
        <property name="resourcePackage" value="org.pesc.cds.webservice.service" />
        <property name="version" value="0.1.4" />
        <property name="title" value="PESC CDS REST Interface" />
        <property name="description"
                  value="Swagger UI to document and explore the REST interface provided by the PESC CDS." />
        <property name="scan" value="true" />
        <property name="basePath" value="EdExchange/services/rest" />
    </bean>

    <!-- JAX-RS (REST) -->
    <jaxrs:server id="EdExchangeServiceRestHttp" address="/rest">
		<jaxrs:serviceBeans>
            <ref bean="swaggerResource" />
            <bean class="org.pesc.cds.webservice.service.UtilityRestController" />
            <bean class="org.pesc.cds.webservice.service.ContactRestController" />
            <bean class="org.pesc.cds.webservice.service.OrganizationRestController" />
            <bean class="org.pesc.cds.webservice.service.DeliveryMethodRestController" />
            <bean class="org.pesc.cds.webservice.service.DeliveryOptionRestController" />
            <bean class="org.pesc.cds.webservice.service.EntityCodeRestController" />
            <bean class="org.pesc.cds.webservice.service.DocumentFormatRestController" />
        </jaxrs:serviceBeans>

		<jaxrs:providers>
			<ref bean="cors-filter" />
		    <ref bean="jacksonJsonProvider" />
			<ref bean="wadlProvider" />
		</jaxrs:providers>
	</jaxrs:server>


    <!-- JAX-WS (SOAP) -->
    <jaxws:endpoint xmlns:service="http://service.cds.pesc.org/" 
                               id="EdExchangeServiceSoapHTTP" 
                          address="/soap" 
                      serviceName="service:WebServicesInterfaceService" 
                     endpointName="service:WebServicesInterfacePort" 
                      implementor="org.pesc.cds.webservice.service.WebServiceImpl" />
    
<!--     <bean id="jaxrs-data-binding" class="org.apache.cxf.jaxrs.provider.JAXRSDataBinding"> -->
<!--         <property name="provider" ref="jaxbProvider" /> -->
<!--     </bean> -->
    
    
    <util:map id="propertiesMap">
        <entry key="jaxb.formatted.output">
            <value type="java.lang.Boolean">true</value>
        </entry>
    </util:map>
    
    
    <!-- Providers -->
    <bean id="wadlProvider" class="org.apache.cxf.jaxrs.model.wadl.WadlGenerator">
        <property name="applicationTitle" value="EdExchange Directory Server RDBMS Rest Service" />
    </bean>
    
    <bean id="cxfJsonProvider" class="org.apache.cxf.jaxrs.provider.json.JSONProvider">
    	<property name="dropRootElement" value="true" />
    	<property name="enableBuffering" value="true" />
    </bean>
    
	<bean id="jaxbProvider" class="org.apache.cxf.jaxrs.provider.JAXBElementProvider">
	   <property name="marshallerProperties" ref="propertiesMap" />
	</bean>
	
	<bean id="jacksonJsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJsonProvider">
		<property name="mapper" ref="jacksonMapper" />
	</bean>
	
	<!-- JSON Mappers -->
	<bean id="jacksonMapper" class="org.pesc.cds.directoryserver.view.JSONMapper" />
	
</beans>
