<?xml version="1.0" encoding="UTF-8" ?>
<beans:beans       xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">
    
    <!-- remove this for production -->
    <debug />
    
    <http use-expressions="true" disable-url-rewriting="true">
        <session-management session-fixation-protection="migrateSession" invalid-session-url="/login" />
        
        <!-- TODO: enable this later when we are ready for ssl
        <security:intercept-url pattern="/login" requires-channel="https"/>
        -->
        
        <!-- for dev 
        <intercept-url pattern="/**" access="permitAll "/>
        -->
        
        <!-- keep the web services path open until we figure out how to secure it -->
        <intercept-url pattern="/services/**" access="permitAll" />
        
        <intercept-url pattern="/resources/**" access="permitAll" />
        <intercept-url pattern="/login/**" access="permitAll" />
        <intercept-url pattern="/login-error/**" access="permitAll" />
        
        <intercept-url pattern="/**" access="isAuthenticated()" />
        
        
        <form-login login-page="/login" authentication-failure-url="/login-error" always-use-default-target="true" />
        <logout logout-url="/logout" delete-cookies="JSESSIONID" invalidate-session="true" />
    </http>
    
    <authentication-manager>
        <!-- for prod 
        <authentication-provider ref="customAuthProvider" />
        -->
        
        <!--  for dev -->
        <authentication-provider>
            <user-service>
                <user name="sysadmin" password="$ystemAdm1n" authorities="systemAdmin" />
                <user name="dsadmin" password="$erverAdm1n" authorities="serverAdmin" />
                <user name="dsuser" password="u$erP@55" authorities="user" />
            </user-service>
        </authentication-provider>
        
    </authentication-manager>
    
</beans:beans>