*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 60px;
}

a:hover
{
    color: #265C83;
    text-decoration:none;
    cursor:pointer;
}

.sub-nav {
    margin: 0 0 1em 0;
}

.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

.ng-valid.ng-dirty {
    border-color: #78FA89;
}