<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/resources :: resourceHead (title=#{title.contacts})"></head>
<body>
	<div class="container-fluid">
		<div th:replace="layout/nav :: layoutNav"></div>
        
        <div class="page-header">
        	<h1 th:text="#{title.contacts}">Page Title</h1>
        </div>
    	
        <div id="dtView"></div>
    
    	<div th:replace="layout/footer :: layoutFooter"></div>
    </div>
	<th:block th:replace="layout/resources :: resourceScripts"></th:block>
    <script th:inline="javascript">
		var dtView,
		    organizations = new Bloodhound({
				'name':'organizations',
				'datumTokenizer':function(d) {
					return Bloodhound.tokenizers.whitespace(d.value);
				},
				'queryTokenizer':Bloodhound.tokenizers.nonword,
				'remote':{
					'url':/*[[ @{/services/rest/organizations} ]]*/ '/EdExchange/services/rest/organizations',
					'replace':function(url,query) {
						return [url,query].join('?query=');
					}
				}
		    });
		
		$(document).ready(function(e){
			dtView = $('#dtView').DataTableView({
			    'mode':$.fn.DataTableView.MODES.MODIFY,
                'url':/*[[ @{/datatableview} ]]*/ '/EdExchange/datatableview',
                'webServiceUrl':/*[[ @{/services/rest} ]]*/ '/services/rest',
                'tableData':{
                    'name':'contacts',
                    'class':'OrganizationContact',
                    'label':'Contact',
                    'primaryKeyColumn':'contactId',
                    'columns':[
						{
						    'data':'contactId', 
						    'control':{
                                'type':'hidden', 
                                'name':'contactId'
                            }
						},
						{
						    'data':'contactName', 
						    'type':'varchar', 
						    'title':'Name', 
						    'required':true, 
						    'control':{
                                'type':'text',
                                'name':'contactName',
                                'label':'Name'
                            }
						},
						{
						    'data':'contactTitle',  
						    'type':'text', 
						    'title':'Title', 
						    'required':false, 
						    'control':{
                                'type':'text',
                                'name':'contactTitle',
                                'label':'Title'
                            }
						},
						{
						    'data':'contactType',  
						    'type':'text', 
						    'title':'Type', 
						    'required':true, 
						    'control':{
                                'type':'text',
                                'name':'contactType',
                                'label':'Type'
                            }
						},
						{
						    'data':'email',  
						    'type':'text', 
						    'title':'Email', 
						    'required':true, 
						    'control':{
                                'type':'text',
                                'name':'email',
                                'label':'Email'
                            }
						},
						{
						    'data':'phone1',  
						    'type':'text', 
						    'title':'Phone 1', 
						    'required':true, 
						    'control':{
                                'type':'text',
                                'name':'phone1',
                                'label':'Phone 1'
                            }
						},
						{
						    'data':'phone2',  
						    'type':'text', 
						    'title':'Phone 2', 
						    'required':false, 
						    'control':{
                                'type':'text',
                                'name':'phone2',
                                'label':'Phone 2'
                            }
						},
						{
						    'data':'streetAddress1',  
						    'type':'text', 
						    'title':'Address 1', 
						    'required':true, 
						    'control':{
                                'type':'text',
                                'name':'streetAddress1',
                                'label':'Address 1'
                            }
						},
						{
						    'data':'streetAddress2',  
						    'type':'text', 
						    'title':'Address 2', 
						    'required':true, 
						    'control':{
                                'type':'text',
                                'name':'streetAddress2',
                                'label':'Address 2'
                            }
						},
						{
						    'data':'streetAddress3',  
						    'type':'text', 
						    'title':'Address 3', 
						    'required':false, 
						    'control':{
                                'type':'text',
                                'name':'streetAddress3',
                                'label':'Address 3'
                            }
						},
						{
						    'data':'streetAddress4',  
						    'type':'text', 
						    'title':'Address 4', 
						    'required':false, 
						    'control':{
                                'type':'text',
                                'name':'streetAddress4',
                                'label':'Address 4'
                            }
						},
						{
						    'data':'city', 
						    'type':'text', 
						    'title':'City', 
						    'required':true, 
						    'control':{
                                'type':'text',
                                'name':'city',
                                'label':'City'
                            }
						},
						{
						    'data':'state', 
						    'type':'text', 
						    'title':'State', 
						    'required':true, 
						    'control':{
                                'type':'text',
                                'name':'state',
                                'label':'State'
                            }
						},
						{
						    'data':'zip', 
						    'type':'text', 
						    'title':'Zip', 
						    'required':true, 
						    'control':{
                                'type':'text',
                                'name':'zip',
                                'label':'Zip'
                            }
						},
						{
						    'data':'country', 
						    'type':'text', 
						    'title':'Country', 
						    'required':true, 
						    'control':{
                                'type':'text',
                                'name':'country',
                                'label':'Country'
                            }
						},
						{
						    'data':'directory',
						    'type':'reference',
						    'title':'Directory', 
						    'required':true,
						    'control':{
                                'type':'typeahead'
                            },
						    'table':'organizations',
						    'datasource':organizations,
						    'displayKey':'organizationName',
						    'valueKey':'directoryId'
						},
						{
                            'data':'createdTime',  
                            'type':'timestamp', 
                            'title':'Created', 
                            'required':false, 
                            'control':{
                                'type':'timestamp',
                                'disabled':true
                            },
                            'render':{'_':function(z){ return moment(z).format('M/D/YYYY h:mm:ss a'); }}
                        },
                        {
                            'data':'modifiedTime',  
                            'type':'timestamp', 
                            'title':'Modified',  
                            'required':false, 
                            'control':{
                                'type':'timestamp',
                                'disabled':true
                            },
                            'render':{'_':function(z){ return moment(z).format('M/D/YYYY h:mm:ss a'); }}
                        }
                    ]
			    },
			    'columnfiltersConfig':{
                    'table':'contacts'
                },
                'datatableConfig':{
                    'mode':$.fn.ColumnFilters.Modes.CATEGORY_SETS,
                    'url':/*[[ @{/columnfilters} ]]*/ '/EdExchange/columnfilters',
                    'table':'contacts',
                    'order':[[4,'asc']]
                }
			});
		});
	</script>
</body>
</html>