<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/resources :: resourceHead (title=#{title.deliveryOptions})"></head>
<body>
	<div class="container-fluid">
		<div th:replace="layout/nav :: layoutNav"></div>
        
        <div class="page-header">
        	<h1 th:text="#{title.deliveryOptions}">Page Title</h1>
        </div>
    	
        <div id="dtView"></div>
    
    	<div th:replace="layout/footer :: layoutFooter"></div>
    </div>
    <th:block th:replace="layout/resources :: resourceScripts"></th:block>
    <script src="../../resources/js/edex-form-controls.js" th:src="@{/resources/js/edex-form-controls.js}"></script>
    <script th:inline="javascript">
		var organizations = new Bloodhound({
            'name':'organizations',
            'datumTokenizer':$.fn.ColumnFilters.tokenizers.whitespace,
            'queryTokenizer':Bloodhound.tokenizers.nonword,
            'remote': {
                'url':/*[[ @{/services/rest/organizations}+'?organizationName=%query' ]]*/ '/EdExchange/services/rest/organizations?organizationName=%query',
                'wildcard':'%query'
            }
        }),
			documentFormats = /*[[ ${@datasourceManager.byName("documentFormats").forJson()} ]]*/,
			deliveryMethods = /*[[ ${@datasourceManager.byName("deliverymethods").all()} ]]*/ [],
			deliveryConfirmations = [{'label':'&nbsp;','value':null},{'label':'Yes','value':true},{'label':'No','value':false}],
			dtView;
		
		$(document).ready(function(e){
			dtView = $('#dtView').DataTableView({
                'mode':$.fn.DataTableView.MODES.MODIFY,
                'url':/*[[ @{/datatableview} ]]*/ '/EdExchange/datatableview',
                'webServiceUrl':/*[[ @{/services/rest/deliveryOptions} ]]*/ '/services/rest/deliveryOptions',
                'tableData':{
                    'name':'deliveryOptions',
                    'class':'DeliveryOption',
                    'label':'Delivery Option',
                    'primaryKeyColumn':'id',
                    'columns':[
						{
						    'data':'id', 
						    'control':{
                                'type':'hidden', 
                                'name':'id'
                            }
						},
						{
						    'data':'member',
						    'type':'reference',
						    'title':'Directory',
						    'required':true,
						    'control':{
                                'type':'typeahead'
                            },
                            'table':'organizations',
                            'datasource':organizations,
						    'displayKey':'organizationName',
						    'valueKey':'directoryId'
						},
						{
						    'data':'format',
						    'type':'object',
						    'title':'Format',
						    'required':true,
						    'table':'documentFormats',
                            'datasource':documentFormats,
                            'displayKey':'formatName',
                            'valueKey':'id',
						    'control':{
                                'type':'select',
                                'name':'format',
                                'label':'Format'
                            }
						},
						{
						    'data':'webserviceUrl',  
						    'type':'varchar', 
						    'title':'Web Service URL',  
						    'control':{
                                'type':'text',
                                'name':'webserviceUrl',
                                'label':'Web Service URL'
                            }
						},
						{
						    'data':'deliveryMethod',
						    'type':'reference',
						    'title':'Delivery Method',
						    'required':true,
						    'control':{
		                        'type':'select'
		                    },
		                    'table':'deliveryMethods',
		                    'datasource':deliveryMethods,
						    'displayKey':'method',
						    'valueKey':'id'
						},
						{
						    'data':'deliveryConfirm',  
						    'type':'int',
						    'cftype':'boolean',
						    'title':'Delivery Confirmation', 
						    'control':{
						        'type':'toggle',
						        'trueLabel':'Yes',
						        'trueValue':true,
						        'falseLabel':'No',
						        'falseValue':false
						    },
						    'render':{'_':function(data, type, full, meta) {
						        return data===true?'Yes' : (data===false?'No' : '');
						    }}
						},
						{
						    'data':'error',  
						    'type':'int',
						    'cftype':'boolean',
						    'title':'Error Indicator', 
						    'control':{
                                'type':'toggle',
                                'trueLabel':'Yes',
                                'trueValue':true,
                                'falseLabel':'No',
                                'falseValue':false
                            },
                            'render':{'_':function(data, type, full, meta) {
                                return data===true?'Yes' : (data===false?'No' : '');
                            }}
						},
						{
						    'data':'operationalStatus', 
						    'type':'object',
						    'cftype':'enum',
						    'title':'Operational Status',
						    'control':{
						        'type':'buttonGroup',
						        'buttons':[
						            {'label':'ACTIVE', 'value':'ACTIVE'},
						            {'label':'INACTIVE', 'value':'INACTIVE'},
						            {'label':'OUTAGE', 'value':'OUTAGE'}
						        ]
						    },
						    'datasource':[{'id':'ACTIVE'},{'id':'INACTIVE'},{'id':'OUTAGE'}],
						    'displayKey':'id',
						    'valueKey':'id',
						    'render':{'_':function(data, type, full, meta) {
                                return data;
                            }}
						}
                    ]
                },
                'columnfiltersConfig':{
                    'table':'deliveryOptions'
                },
                'datatableConfig':{
                    'mode':$.fn.ColumnFilters.Modes.CATEGORY_SETS,
                    'url':/*[[ @{/columnfilters} ]]*/ '/EdExchange/columnfilters',
                    'table':'deliveryOptions',
                    'order':[[1,'asc']]
                }
            });
		});
	</script>
</body>
</html>