<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/resources :: resourceHead (title=#{title.deliveryOptions})">
    <title th:text="#{title.deliveryOptions}">Delivery Options Page</title>
    <meta http-equiv="Content-Type" charset="utf-8" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../../resources/css/bootstrap-theme.min.css" th:href="@{/resources/css/bootstrap-theme.min.css}" />
    <link rel="stylesheet" href="../../resources/css/jquery.dataTables.min.css" th:href="@{/resources/css/jquery.dataTables.min.css}" />
</head>
<body>
	<div class="container-fluid">
		<div th:replace="layout/nav :: layoutNav"></div>
        
        <div class="page-header">
        	<h1 th:text="#{title.deliveryOptions}">Page Title</h1>
        </div>
    	
        <div id="ecView"></div>
    
    	<div th:replace="layout/footer :: layoutFooter"></div>
    </div>
    <th:block th:replace="layout/resources :: resourceScripts"></th:block>
    <script src="../../resources/js/edex-form-controls.js" th:src="@{/resources/js/edex-form-controls.js}"></script>
    <script th:inline="javascript">
		var organizations = new Bloodhound({
			'name':'organizations',
			'datumTokenizer':function(d) {
				return Bloodhound.tokenizers.whitespace(d.value);
			},
			'queryTokenizer':Bloodhound.tokenizers.nonword,
			'remote':{
				'url':/*[[ @{/services/rest/organizations} ]]*/ '/EdExchange/services/rest/organizations',
				'replace':function(url,query) {
					return [url,query].join('?query=');
				}
			}
		}),
			documentFormats = new Bloodhound({
			'name':'documentFormats',
			'datumTokenizer':function(d) {
				return Bloodhound.tokenizers.whitespace(d.value);
			},
			'queryTokenizer':Bloodhound.tokenizers.nonword,
			'remote':{
				'url':/*[[ @{/services/rest/documentFormats} ]]*/ '/EdExchange/services/rest/documentFormats',
				'replace':function(url,query) {
					return [url,query].join('?query=');
				}
			}
		}),
			deliveryMethods = /*[[ ${@datasourceManager.byName("deliverymethods").all()} ]]*/ [],
			deliveryConfirmations = [{'label':'&nbsp;','value':null},{'label':'Yes','value':true},{'label':'No','value':false}],
			dtView;
		
		$(document).ready(function(e){
			
			// initialize the bloodhound objects
			organizations.initialize().fail(function() {
				console.error('organizations initialize fail');
			});
			documentFormats.initialize().fail(function() {
				console.error('documentFormats initialize fail');
			});
			
			dtView = new DataTableView({
				'dataClass':'DeliveryOption',
				'webServiceUrl':/*[[ @{/services/rest} ]]*/'/services/rest',
				'cfWebServiceUrl':/*[[ @{/columnfilters} ]]*/ '/EdExchange/columnfilters',
				'table':{
					'name':'deliveryOptions',
					'primaryKey':'id',
					'defaultColumnOrder':[[1,'asc']],
					'columns':[
						{'data':'id', 'name':'id', 'type':'int', 'title':'', 'visible':false, 'cfexclude':true, 'controlType':'hidden'},
						{
							'data':'member',
							'name':'member',
							'type':'object',
							'required':true,
							'displayKey':'organizationName',
							'valueKey':'directoryId',
							'table':'organizations',
							'datasource':organizations,
							'title':'Directory', 
							'controlType':'typeahead',
							'cftype':'biglist'
						},
						{
							'data':'format',
							'name':'format',
							'type':'object',
							'required':true,
							'displayKey':'formatName',
							'valueKey':'id',
							'table':'documentFormats',
							'datasource':documentFormats,
							'title':'Format', 
							'controlType':'typeahead',
							'cftype':'biglist'
						},
						{'data':'webserviceUrl', 'name':'webserviceUrl', 'type':'varchar', 'title':'Web Service URL', 'required':false, 'controlType':'text'},
						{
							'data':'deliveryMethod',
							'name':'deliveryMethod',//might need to be deliveryMethod.id
							'type':'object',
							'title':'Delivery Method',
							'required':true,
							'displayKey':'method',
							'valueKey':'id',
							'table':'deliveryMethods',
							'controlType':'custom',
							'cftype':'enum',
							'cfenumsource':deliveryMethods,
							'cfenumvaluekey':'id',
							'cfenumlabelkey':'method',
							'customInputControl': new DropdownSelectInputControl({
								'dataset':deliveryMethods,
								'inputName':'deliveryMethod',
								'displayKey':'method',
								'label':'Delivery Method'
							}),
							'validate':function(cdata) {
								// cdata must be a deliveryConfirmation object
								var dm = _.find(deliveryMethods, cdata);
								return dm ? true : false;
							}
						},
						{
							'data':'deliveryConfirm', 
							'name':'deliveryConfirm', 
							'type':'object', 
							'title':'Delivery Confirmation', 
							'required':false,
							'displayKey':'label',
							'valueKey':'value',
							'controlType':'custom',
							'render':function (data, type, full, meta) {
								return data===true?'Yes' : (data===false?'No' : '');
							},
							'cftype':'enum',
							'cfenumsource':deliveryConfirmations,
							'cfenumvaluekey':'value',
							'cfenumlabelkey':'label',
							'customInputControl': new DropdownSelectInputControl({
								'dataset':deliveryConfirmations,
								'inputName':'deliveryConfirm',
								'displayKey':'label',
								'valueOnly':true,
								'valueKey':'value',
								'label':'Delivery Confirmation'
							}),
							'validate':function(cdata) {
								// cdata must be a deliveryConfirmation object
								var dm = _.find(deliveryConfirmations, {'value':cdata});
								return dm ? true : false;
							}
						},
						{
							'data':'error', 
							'name':'error', 
							'type':'object', 
							'title':'Error Indicator', 
							'required':false,
							'displayKey':'label',
							'valueKey':'value',
							'controlType':'custom',
							'render':function (data, type, full, meta) {
								return data===true?'Yes' : (data===false?'No' : '');
							},
							'cftype':'enum',
							'cfenumsource':deliveryConfirmations,
							'cfenumvaluekey':'value',
							'cfenumlabelkey':'label',
							'customInputControl': new DropdownSelectInputControl({
								'dataset':deliveryConfirmations,
								'inputName':'error',
								'displayKey':'label',
								'valueOnly':true,
								'valueKey':'value',
								'label':'Error Indicator'
							}),
							'validate':function(cdata) {
								// cdata must be a deliveryMethod object
								var dm = _.find(deliveryConfirmations, {'value':cdata});
								return dm ? true : false;
							}
						},
						{
							'data':'operationalStatus',
							'name':'operationalStatus', 
							'type':'varchar',
							'displayKey':'id',
							'valueKey':'id',
							'title':'Operational Status', 
							'controlType':'radioset',
							'useValueOnly':true,
							'cftype':'enum',
							'cfenumsource':[{'id':'ACTIVE'},{'id':'INACTIVE'},{'id':'OUTAGE'}],
							'cfenumvaluekey':'id',
							'cfenumlabelkey':'id'
						}
					]
				}
			});
			$('#ecView').replaceWith(dtView.$el);
		});
	</script>
</body>
</html>