<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/resources :: resourceHead (title=#{title.deliveryMethods})">
    <title th:text="#{title.deliveryMethods}">Delivery Methods Page</title>
    <meta http-equiv="Content-Type" charset="utf-8" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../../resources/css/bootstrap-theme.min.css" th:href="@{/resources/css/bootstrap-theme.min.css}" />
    <link rel="stylesheet" href="../../resources/css/jquery.dataTables.min.css" th:href="@{/resources/css/jquery.dataTables.min.css}" />
</head>
<body>
	<div class="container-fluid">
		<div th:replace="layout/nav :: layoutNav"></div>
        
        <div class="page-header">
        	<h1 th:text="#{title.deliveryMethods}">Page Title</h1>
        </div>
    	
        <div id="dtView"></div>
    
    	<div th:replace="layout/footer :: layoutFooter"></div>
    </div>
    <th:block th:replace="layout/resources :: resourceScripts"></th:block>
    <script th:inline="javascript">
		var dtView;
		
		$(document).ready(function(e){
			dtView = $('#dtView').DataTableView({
                'mode':$.fn.DataTableView.MODES.MODIFY,
                'url':/*[[ @{/datatableview} ]]*/ '/EdExchange/datatableview',
                'webServiceUrl':/*[[ @{/services/rest} ]]*/ '/services/rest',
                'tableData':{
                    'name':'deliveryMethods',
                    'class':'DeliveryMethod',
                    'label':'Delivery Method',
                    'primaryKeyColumn':'id',
                    'columns':[
						{
						    'data':'id',  
						    'control':{
                                'type':'hidden', 
                                'name':'id'
                            }
						},
						{
						    'data':'method',  
						    'type':'varchar', 
						    'title':'Name', 
						    'required':true, 
						    'control':{
                                'type':'text',
                                'name':'method',
                                'label':'Name'
                            }
						}
                    ]
                },
                'columnfiltersConfig':{
                    'table':'deliveryMethods'
                },
                'datatableConfig':{
                    'mode':$.fn.ColumnFilters.Modes.CATEGORY_SETS,
                    'url':/*[[ @{/columnfilters} ]]*/ '/EdExchange/columnfilters',
                    'table':'deliveryMethods',
                    'order':[[1,'asc']]
                }
            });
		});
	</script>
</body>
</html>