<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/resources :: resourceHead (title=#{title.entityCodes})"></head>
<body>
	<div class="container-fluid">
		<div th:replace="layout/nav :: layoutNav"></div>
        
        <div class="page-header">
        	<h1 th:text="#{title.entityCodes}">Page Title</h1>
        </div>
    	
        <div id="dtView"></div>
    
    	<div th:replace="layout/footer :: layoutFooter"></div>
    </div>
	<th:block th:replace="layout/resources :: resourceScripts"></th:block>
    <script th:inline="javascript">
		var dtView;
		
		$(document).ready(function(e){
			dtView = $('#dtView').DataTableView({
                'mode':$.fn.DataTableView.MODES.MODIFY,
                'url':/*[[ @{/datatableview} ]]*/ '/EdExchange/datatableview',
                'webServiceUrl':/*[[ @{/services/rest} ]]*/ '/services/rest',
                'tableData':{
                    'name':'entityCodes',
                    'class':'EntityCode',
                    'label':'Entity Code',
                    'primaryKeyColumn':'id',
                    'columns':[
						{
						    'data':'id', 
						    'type':'int', 
						    'control':{
                                'type':'hidden', 
                                'name':'id'
                            }
						},
						{
						    'data':'code',  
						    'title':'Code', 
						    'type':'tinyint', 
						    'control':{
                                'type':'number'
                            }
						},
						{
						    'data':'description',  
						    'type':'text', 
						    'title':'Description', 
						    'control':{
                                'type':'textarea',
                                'name':'description',
                                'label':'Description'
                            }
						},
						{
                            'data':'createdTime',  
                            'type':'timestamp', 
                            'title':'Created', 
                            'required':false, 
                            'control':{
                                'type':'timestamp',
                                'disabled':true
                            },
                            'render':{'_':function(z){ return moment(z).format('M/D/YYYY h:mm:ss a'); }}
                        },
                        {
                            'data':'modifiedTime',  
                            'type':'timestamp', 
                            'title':'Modified',  
                            'required':false, 
                            'control':{
                                'type':'timestamp',
                                'disabled':true
                            },
                            'render':{'_':function(z){ return moment(z).format('M/D/YYYY h:mm:ss a'); }}
                        }
                    ]
                },
                'columnfiltersConfig':{
                    'table':'entityCodes'
                },
                'datatableConfig':{
                    'mode':$.fn.ColumnFilters.Modes.CATEGORY_SETS,
                    'url':/*[[ @{/columnfilters} ]]*/ '/EdExchange/columnfilters',
                    'table':'entityCodes',
                    'order':[[4,'asc']]
                }
            });
		});
	</script>
</body>
</html>