<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/resources :: resourceHead (title=#{title.entityCodes})">
    <title th:text="#{title.entityCodes}">Document Formats Page</title>
    <meta http-equiv="Content-Type" charset="utf-8" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../../resources/css/bootstrap-theme.min.css" th:href="@{/resources/css/bootstrap-theme.min.css}" />
    <link rel="stylesheet" href="../../resources/css/jquery.dataTables.min.css" th:href="@{/resources/css/jquery.dataTables.min.css}" />
</head>
<body>
	<div class="container-fluid">
		<div th:replace="layout/nav :: layoutNav"></div>
        
        <div class="page-header">
        	<h1 th:text="#{title.entityCodes}">Page Title</h1>
        </div>
    	
        <div id="dfView"></div>
    
    	<div th:replace="layout/footer :: layoutFooter"></div>
    </div>
	<th:block th:replace="layout/resources :: resourceScripts"></th:block>
    <script th:inline="javascript">
		var dtView, 
			DFView = Backbone.View.extend({
			
			'columnFilters':null,
			'modalForm':null,
			'actionProgressPanel':null,
			'progressBar':null,
			'sb':null,
			'sbOptions':{
				'min':0,
				'max':100,
				'step':1
			},
			'datatable':null,
			'datatableColumnMeta':[
				{
					'data':null, 
					'name':'editor', 
					'title':'', 
					'cfexclude':true,
					'render':function(data,type,full,meta){
						return [
							'<div class="btn-group center-block">',
								'<button type="button" class="btn btn-default btn-info btn-xs entcode-edit-btn" data-row-id="',full.id,'">',
									'<span class="glyphicon glyphicon-cog"></span>',
								'</button>',
								'<button type="button" class="btn btn-default btn-danger btn-xs entcode-del-btn">',
									'<span class="glyphicon glyphicon-remove"></span>',
								'</button>',
							'</div>'
						].join('');
					}
				},
				{'data':'entityCode', 'name':'entityCode', 'title':'Code', 'type':'num', 'cftype':'number'},
				{'data':'description', 'name':'description', 'title':'Description', 'type':'string', 'cftype':'text'},
				
				{'data':'createdTime', 'name':'createdTime', 'title':'Created', 'type':'date', 'cftype':'date'},
				{'data':'modifiedTime', 'name':'modifiedTime', 'title':'Modified', 'type':'date', 'cftype':'date'}
			],
			'datatableConfig':{
				'exteriorController':this,
				'searching':false,
				
				'dom':/*[[ '&lt;"panel panel-default"&lt;"panel-heading clearfix" &lt;"refresh-datatable-btn-container pull-left"&gt; l&lt;"add-button-container"&gt;p&gt;&gt;tpi&lt;"clearfix"&gt;' ]]*/ 'ltip',
				
				'processing':true,
				'serverSide':true,
				'ajax':{
					'url':/*[[ @{/services/rest/data} ]]*/ '/directoryServer/services/rest/data',
					'type':'POST',
					'dataType':'json',
					'contentType':'application/json'
				},
				'order':[[4,'asc']],
				'columnDefs':[
					{'targets':0, 'orderable':false, 'width':'35px', 'className':'action-column'},
					{'targets':1, 'className':'text-center text-nowrap text-capitalize'},
					{'targets':2, 'className':'notes-column'},
					{'targets':3, 'className':'text-center'}
				],
				
				'columns':null
			},
			
			// showProgress and hideProgress are for saving, the progress bar is
			// in a panel header inside the add/edit modal form
			'showProgress':function() {
				// disable modal buttons
				$('div.modal-header button.close',this.modalForm).hide();
				$('div.modal-footer button',this.modalForm).each(function(i,e) {
					e.disabled = true;
				});
				
				// hide (with transition) input form
				$('form',this.modalForm).hide();
				
				// show (with transition) progress bar
				this.actionProgressPanel.show();
			},
			'hideProgress':function() {
				// enable modal buttons
				$('div.modal-header button.close',this.modalForm).show();
				$('div.modal-footer button',this.modalForm).each(function(i,e) {
					e.disabled = false;
				});
				
				// change the panel coloring
				$('div.action-progress-panel div.panel',this.modalForm).removeClass('panel-danger');
				$('div.action-progress-panel .progress-bar',this.modalForm).removeClass('progress-bar-danger');
				
				// hide progress bar
				this.actionProgressPanel.hide();
				$('div.progress-bar',this.modalForm).removeClass('progress-bar-danger');
				
				// show input form
				$('form',this.modalForm).show();
			},
			
			'displayInputValidation':function(formKey, isValid) {
				if($.inArray(formKey,['entity_code','description'])>-1) {
					var formGroup = $('div.entcode-form-'+formKey,this.modalForm);
					$('div.entcode-form-'+formKey,this.modalForm).toggleClass('has-success',isValid).toggleClass('has-error',!isValid);
					// some input contolls won't have the feedback visual element
					if($('span.glyphicon.form-control-feedback',formGroup).length) {
						$('div.entcode-form-'+formKey+' span.glyphicon.form-control-feedback',this.modalForm)
							.removeClass('hidden')
							.toggleClass('glyphicon-ok',isValid)
							.toggleClass('glyphicon-remove',!isValid);
					}
				}
			},
			
			'resetForm':function() {
				// don't use form.reset(), there are some hidden inputs need to retain their values
				$('#id, #entity_code, #description, #created_time, #modified_time',this.modalForm).val(null);
				
				// reset spinbox
				this.sb.spinbox('value',0);
				
				// clear validation classes
				for(var i in {'entity_code':1,'description':2}) {
					$('div.entcode-form-'+i,this.modalForm).removeClass('has-success has-error');
					$('div.entcode-form-'+i+' span.glyphicon.form-control-feedback',this.modalForm)
						.removeClass('glyphicon-ok glyphicon-remove')
						.addClass('hidden');
				}
			},
			
			'getFormData':function() {
				var formData = {
					'entity_code':this.sb.spinbox('value')*1,
					'description':$.trim($('#description',this.modalForm).val())
				},
					dataIdVal = $('#id',this.modalForm).val(),
					editMode = _.isFinite(dataIdVal),
					validation = {
						'entity_code':_.isFinite(formData.entity_code),
						'description':formData.description.length>1
					},
					validInputsTotal = 2,
					validInputCount = 0;
				
				if(editMode) {
					_.extend(formData,{'id':dataIdVal*1});
				}
				
				// display success/error for required, error-able inputs
				for(var i in validation) {
					this.displayInputValidation(i, validation[i]);
					if(validation[i]) {
						validInputCount++;
					}
				}
				
				return (validInputCount===validInputsTotal) ? formData : false;
			},
			
			'setFormData':function(dfData) {
				$('#id',this.modalForm).val(dfData.id);
				$('#description',this.modalForm).val(dfData.description);
				
				// inuse spinbox
				this.sb.spinbox('value',dfData.entityCode);
				
				// created/modified date text fields
				$('#created_time',this.modalForm).val(dfData.createdTime);
				$('#modified_time',this.modalForm).val(dfData.modifiedTime);
			},
			
			'className':'entcode-dtview',
			'events':{
				// DATATABLE INIT COMPLETE
				'init.dt .dataTables_wrapper':function(e, settings, json) {
					// create refresh data table button
					$('div.refresh-datatable-btn-container',this.$el).append([
						'<button type="button" class="btn btn-default" title="refresh data">',
							'<span class="glyphicon glyphicon-refresh"></span>',
						'</button>'
					].join(''));
					
					// create add entcode button
					$('div.add-button-container',this.$el).append('<button type="button" class="btn btn-success pull-left">Add Entity Code</button>');
					
					this.$el.prepend(this.columnFilters.$el);
				},
				
				// REFRESH DATATABLE
				'click div.refresh-datatable-btn-container':function(e) {
					this.datatable.ajax.reload();
				},
				
				// ADD ENTITY CODE CLICK
				'click div.add-button-container button':function(e) {
					$('h4.modal-title',this.modalForm).html('Create Entity Code');
					$('button.entcode-modal-form-action-button',this.modalForm).html('Create');
					this.modalForm.modal('show');
				},
				
				// EDIT ENTITY CODE CLICK
				'click button.entcode-edit-btn':function(e) {
					var d = this.datatable.row($(e.currentTarget).parent().parent().parent()[0]).data();
					if(d) {
						$('h4.modal-title',this.modalForm).html('Edit Entity Code');
						$('button.entcode-modal-form-action-button',this.modalForm).html('Save');
						
						//populate modal form with data and then display it
						this.setFormData(d);
						this.modalForm.modal('show');
					}
				},
				
				// REMOVE ENTITY CODE CLICK
				'click button.entcode-del-btn':function(e) {
					//get the index of the data tables row
					
					if(confirm('Are you sure you want to remove this Entity Code?')) {
						var d = this.datatable.row($(e.currentTarget).parent().parent().parent()[0]).data();
						$.ajax({
							'url': /*[[ @{/services/rest/entityCodes/remove} ]]*/ '/services/rest/entityCodes/remove',
							type:'POST',
							contentType:'application/json',
							dataType:'json',
							data:JSON.stringify(d),
							processData:false
						}).done(function(data,textStatus,jqXHR) {
							dtView.datatable.ajax.reload();
						}).fail(function(jqXHR,textStatus,errorThrown) {
							alert(errorThrown);
						});
					}
				},
				
				// MODAL ACTION BUTTON CLICK
				'click button.entcode-modal-form-action-button':function(e) {
					//console.log('modal action button click');
					var fd = this.getFormData();
					//console.log(fd);
					if(fd) {
						this.showProgress();
						// ajax to server and update data table
						$.ajax({
							'url': /*[[ @{/services/rest/entityCodes/save} ]]*/ '/services/rest/entityCodes/save',
							type:'POST',
							contentType:'application/json',
							dataType:'json',
							data:JSON.stringify(fd),
							processData:false
						}).done(function(data,textStatus,jqXHR) {
							//successful process
							dtView.datatable.ajax.reload();
							dtView.modalForm.modal('hide');
						}).fail(function(jqXHR,textStatus,errorThrown) {
							// change the panel coloring to red
							$('div.action-progress-panel div.panel',this.modalForm).addClass('panel-danger');
							$('div.action-progress-panel .progress-bar',this.modalForm).addClass('progress-bar-danger');
							
							// display error message in modal progress panel body 
							$('div.edit-entcode-modal div.action-progress-panel div.panel-body').empty().append(
								[
									'<p>',errorThrown,'</p>',
									'<div class="pull-right clearfix">',
										'<button type="button" class="btn btn-danger">OK</button>',
									'</div>'
								].join('')
							);
						});
					}
				},
				
				// PROCESS ERROR MESSAGE BUTTON CLICK
				'click div.action-progress-panel div.panel-body button':function(e) {
					dtView.modalForm.modal('hide');
				},
				
				// EDIT MODAL HIDE
				'hidden.bs.modal div.edit-entcode-modal':function() {
					this.resetForm();
					this.hideProgress();
				}
			},
			
			'template':_.template( $('#pageContent').html() ),
			
			'initialize':function(options) {
				this.$el.append(this.template({}));
				
				//configure modal
				this.modalForm = $('div.edit-entcode-modal',this.$el).modal({
					'backdrop':'static',
					'keyboard':false,
					'show':false
				});
				
				//action progress panel
				this.actionProgressPanel = $('div.action-progress-panel',this.modalForm).hide();
				//progress bar
				this.progressBar = $('div.progress',this.actionProgressPanel);
				
				//spinbox control
				$('div.entity_code.spinbox',this.modalForm).spinbox(this.sbOptions);
				this.sb = $('div.entity_code.spinbox',this.modalForm);
				
				//create column filters
				this.columnFilters = new VDataFilters({'table':'entityCodes', 'tableColumns':this.datatableColumnMeta});
				
				//set initial data table configuration
				this.datatableConfig.columns = this.datatableColumnMeta;
				this.datatableConfig.ajax.data = function(d){
					if(dtView) {//ev is the EmployeeView
						var cf = dtView.columnFilters.getCurrentFilter();
						if(cf) {
							d.table = cf[0].table;
							d.columnfilters = cf;
						} else {
							d.table = 'entityCodes';
						}
					}
					d.table = 'entityCodes';
					return JSON.stringify(d);
				};
				
				//create data table
				this.datatable = $('table.table',this.$el).DataTable(this.datatableConfig);
			},
			
			'render':function() { return this;}
		});
		
		$(document).ready(function(e){
			dtView = new DFView();
			$('#dfView').replaceWith(dtView.$el);
		});
	</script>
</body>
</html>