<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/resources :: resourceHead (title=#{title.home})">
    <title>Home Page</title>
    <meta http-equiv="Content-Type" charset="utf-8" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
	<div class="container-fluid">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" th:replace="layout/nav :: layoutNav"></nav>
        
        <div class="page-header">
        	<h1 th:text="#{title.home}">Page Title</h1>
        	<h2>Post Secondary Electronic Standards Council - Common Data Exchange Standards</h2>
        </div>
    	
        <p>
        Any provider using the Common Data Services Standards (CDS) and registered in the service network could 
        communicate directly with the appropriate exchange host for a targeted institution. The services would 
        be 'payload agnostic' and while the immediate interest is for transcript exchange, the network could be 
        used for the exchange of other existing or future PESC standard transactions.
        </p>
        <p>
        As the technological landscape has evolved significantly over the years, web services standards are now 
        available to enable automated directory lookup and efficient machine-to-machine communication in a highly 
        secure transmission environment. The PESC CDS Task Force looks to maximize the use of this new technology 
        to meet the emerging needs of schools, institutions, states and other service provider organizations to 
        exchange student records, accounts and educational data.
        </p>
        <p>
        The mission of the PESC CDS taskforce is to improve security, reliability, efficiency and speed in the 
        transfer of all educational data types by developing an open web services network and associated standards 
        to benefit the education of students, streamline processes for institutions, and facilitate the advancement 
        of services offered for education. Please refer to http://www.pesc.org for more information on PESC.
        </p>
    
    	<div th:replace="layout/footer :: layoutFooter"></div>
    </div>
	<th:block th:replace="layout/resources :: resourceScripts"></th:block>
</body>
</html>
