<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/resources :: resourceHead (title=#{title.home})">
    <title>Home Page</title>
    <meta http-equiv="Content-Type" charset="utf-8" content="text/html; charset=UTF-8" />
</head>
<body>
	
	<div th:replace="layout/nav :: layoutNav"></div>
	
    <h2>you are now logged in</h2>
    
    <h3>TODO: Create CRUD UI Pages For:</h3>
    <ul>
    	<li>Organization</li>
        <li>Contacts</li>
        <li>Address</li>
        <li>Email</li>
        <li>Phone</li>
        <li>URL</li>
        <li>Accreditation</li>
    </ul>
    
    <div th:replace="layout/footer :: layoutFooter"></div>
	<th:block th:replace="layout/resources :: resourceScripts"></th:block>
</body>
</html>
