<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/resources :: resourceHead (title=#{title.login})">
    <title>Login Page</title>
    <meta http-equiv="Content-Type" charset="utf-8" content="text/html; charset=UTF-8" />
</head>
<body>

	<div class="container-fluid">
    	<div class="page-header">
        	<h1 th:text="#{title.login}"></h1>
            <p class="lead">This system requires that you log in.</p>
        </div>
        
        <div class="row">
        	<div class="col-lg-4 col-md-4 col-sm-3 col-xs-1"></div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-10">
                <div class="panel panel-default">
                    <div class="panel-heading">Login</div>
                    <div class="panel-body">
                        <div th:if="${loginError}" class="alert alert-danger" role="alert">
                            <span class="text-danger" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}">Login Error</span>
                        </div>
                        <form th:action="@{/j_spring_security_check}" method="post" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="j_username" class="col-md-3 control-label">Username</label>
                                <div id="login_user_input" class="col-md-9">
                                    <input type="text" 
                                             id="j_username" 
                                           name="j_username" 
                                          class="form-control typeahead" 
                                    placeholder="login username" 
                                      autofocus="true" autocomplete="off" data-provide="typeahead" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="j_password" class="col-md-3 control-label">Password</label>
                                <div class="col-md-9">
                                    <input type="password" 
                                    		 id="j_password" 
                                           name="j_password" 
                                          class="form-control" 
                                    placeholder="login password" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-offset-2 col-md-10">
                                	<button type="submit" class="btn btn-default">Log in</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
        	</div>
            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-1"></div>
        </div>
    </div>
    
    <th:block th:replace="layout/resources :: resourceScripts"></th:block>
    <script th:inline="javascript">
	
	var loginusers = [{username:'sysadmin'},{username:'dsadmin'},{username:'dsuser'}],
		logins = new Bloodhound({
		datumTokenizer:Bloodhound.tokenizers.obj.whitespace('username'),
		queryTokenizer:Bloodhound.tokenizers.whitespace,
		local:loginusers
	});
	
	$(document).ready(function(){
		$('#j_username').focus();
		
		logins.initialize().done(function(){
			$('#login_user_input .typeahead').typeahead(
				{highlight:false, hint:false, minLength:3},
				{ name:'logins', displayKey:'username', source:logins.ttAdapter() }
			);
		}).fail(function(){
			console.log('login data source initialize fail');
		});
	});
	</script>
</body>
</html>
