<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/resources :: resourceHead (title=#{title.organizations})">
    <title th:text="#{title.organizations}">Organizations Page</title>
    <meta http-equiv="Content-Type" charset="utf-8" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../../resources/css/bootstrap-theme.min.css" th:href="@{/resources/css/bootstrap-theme.min.css}" />
    <link rel="stylesheet" href="../../resources/css/jquery.dataTables.min.css" th:href="@{/resources/css/jquery.dataTables.min.css}" />
</head>
<body>
	<div class="container-fluid">
		<div th:replace="layout/nav :: layoutNav"></div>
        
        <div class="page-header"><h1 th:text="#{title.organizations}">Page Title</h1></div>
    	
        <div id="orgView"></div>
    
    	<div th:replace="layout/footer :: layoutFooter"></div>
    </div>
	<th:block th:replace="layout/resources :: resourceScripts"></th:block>
    <script th:inline="javascript">
		// create a new DataTableView populated with organization meta data
		var entities = /*[[ ${@datasourceManager.byName("entities").all()} ]]*/ [],
			entityDisplayFunc = function(e) {
				return [e.code,e.description].join(' ');
			},
			dtView,
			tsConfig = {'format':'mm/dd/yyyy '};
		
		$(document).ready(function(e){
			dtView = new DataTableView({
				'dataClass':'Organization',
				'webServiceUrl':/*[[ @{/services/rest} ]]*/'/services/rest',
				'cfWebServiceUrl':/*[[ @{/columnfilters} ]]*/ '/EdExchange/columnfilters',
				'mode':1,
				'table':{
					'name':'organizations',
					'primaryKey':'directoryId',
					'defaultColumnOrder':[[1,'asc']],
					'columns':[
						{'data':'directoryId', 'name':'directoryId', 'type':'int', 'title':'', 'visible':false, 'cfexclude':true, 'controlType':'hidden'},
						{'data':'organizationId', 'name':'organizationId', 'type':'varchar', 'title':'Id', 'controlType':'text'},
						{'data':'organizationIdType', 'name':'organizationIdType', 'type':'varchar', 'title':'Id Type', 'controlType':'text'},
						{'data':'organizationName', 'name':'organizationName', 'type':'varchar', 'title':'Name', 'controlType':'text'},
						{'data':'organizationSubcode', 'name':'organizationSubcode', 'type':'varchar', 'title':'Sub Code', 'required':false, 'controlType':'text'},
						{
							'data':'entity', 
							'name':'entity.id',
							'type':'object',
							'displayKey':entityDisplayFunc,
							'valueKey':'id',
							'table':'organization_entity_code',
							'title':'Entity Code',
							'required':false, 
							'controlType':'dropdown',
							'cftype':'enum',
							'cfenumsource':entities,
							'cfenumvaluekey':'id',
							'cfenumlabelkey':'code'
						},
						
						{'data':'organizationEin', 'name':'organizationEin', 'type':'varchar', 'title':'EIN', 'controlType':'text'},
						{'data':'organizationSiteUrl', 'name':'organizationSiteUrl', 'type':'varchar', 'title':'Site URL', 'controlType':'text'},
						{'data':'description', 'name':'description', 'type':'text', 'title':'Description', 'visible':false, 'required':false, 'controlType':'textarea'},
						{'data':'termsOfUse', 'name':'termsOfUse', 'type':'text', 'title':'Terms of Use', 'visible':false, 'controlType':'textarea'},
						{'data':'privacyPolicy', 'name':'privacyPolicy', 'type':'text', 'title':'Privacy Policy', 'visible':false, 'controlType':'textarea'},
						{
							'data':'createdTime', 
							'name':'createdTime', 
							'type':'timestamp', 
							'title':'Created', 
							'disabled':true, 
							'required':false, 
							'controlType':'timestamp',
							'render':{'_':function(z){ return moment(z).format('M/D/YYYY h:mm:ss a'); }}
						},
						{
							'data':'modifiedTime', 
							'name':'modifiedTime', 
							'type':'timestamp', 
							'title':'Modified', 
							'disabled':true, 
							'required':false, 
							'controlType':'timestamp',
							'render':{'_':function(z){ return moment(z).format('M/D/YYYY h:mm:ss a'); }}
						}
					]
				}
			});
			$('#orgView').replaceWith(dtView.$el);
		});
	</script>
</body>
</html>