<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/resources :: resourceHead (title=#{title.organizations})"></head>
<body>
	<div class="container-fluid">
		<div th:replace="layout/nav :: layoutNav"></div>
        
        <div class="page-header"><h1 th:text="#{title.organizations}">Page Title</h1></div>
    	
        <div id="dtView"></div>
    
    	<div th:replace="layout/footer :: layoutFooter"></div>
    </div>
	<th:block th:replace="layout/resources :: resourceScripts"></th:block>
    <script th:inline="javascript">
		var entities = /*[[ ${@datasourceManager.byName("entities").forJson()} ]]*/ [],
			entityDisplayFunc = function(e) {
				return [e.code, e.description].join(' ');
			},
			dtView, tsConfig = {'format':'mm/dd/yyyy'};
		
		$(document).ready(function(e){
			dtView = $('#dtView').DataTableView({
			    'mode':$.fn.DataTableView.MODES.MODIFY,
			    'url':/*[[ @{/datatableview} ]]*/ '/EdExchange/datatableview',
		        'webServiceUrl':/*[[ @{/services/rest/organizations} ]]*/ '/services/rest/organizations',
			    'tableData':{
			        'name':'organizations',
		            'class':'Organization',
		            'label':'Organization',
		            'primaryKeyColumn':'directoryId',
		            'columns':[
						{
						    'data':'directoryId', 
						    'type':'int', 
						    'control':{
						        'type':'hidden', 
						        'name':'directoryId'
						    }
						},
						{
						    'data':'organizationId', 
						    'required':true, 
						    'type':'varchar', 
						    'title':'Id', 
						    'control':{
						        'type':'text',
						        'name':'organizationId',
						        'label':'Id'
						    }
						},
						{
						    'data':'organizationIdType', 
						    'required':true, 
						    'type':'varchar', 
						    'title':'Id Type', 
						    'control':{
						        'type':'text',
						        'name':'organizationIdType',
						        'label':'Id Type'
						    }
						},
						{
						    'data':'organizationName', 
						    'required':true, 
						    'type':'varchar', 
						    'title':'Name', 
						    'control':{
						        'type':'text',
						        'name':'organizationName',
						        'label':'Name'
						    }
						},
						{
						    'data':'organizationSubcode', 
						    'required':false, 
						    'type':'varchar', 
						    'title':'Sub Code', 
						    'control':{
						        'type':'text',
						        'name':'organizationSubcode',
						        'label':'Sub Code'
						    }
						},
						{
						    'data':'entity', 
						    'type':'object',
						    'title':'Entity Code',
						    'required':false,
						    'table':'organization_entity_code',
						    'datasource':entities,
						    'displayKey':'description',
						    'valueKey':'id',
						    'control':{
                                'type':'select',
                                'name':'entity',
                                'label':'Entity Code'
                            },
                            'render':{'_':entityDisplayFunc}
						},
						{
						    'data':'organizationEin', 
						    'type':'varchar', 
						    'title':'EIN', 
						    'control':{
                                'type':'text',
                                'name':'organizationEin',
                                'label':'EIN'
                            }
						},
						{
						    'data':'organizationSiteUrl', 
						    'type':'varchar', 
						    'title':'Site URL', 
						    'control':{
                                'type':'text',
                                'name':'organizationSiteUrl',
                                'label':'Site URL'
                            }
						},
						{
						    'data':'description', 
						    'type':'text', 
						    'title':'Description', 
						    'visible':false, 
						    'required':false, 
						    'control':{
                                'type':'textarea',
                                'name':'description',
                                'label':'Description',
                                'textarea':true
                            }
						},
						{
						    'data':'termsOfUse', 
						    'type':'text', 
						    'title':'Terms of Use', 
						    'visible':false, 
						    'control':{
                                'type':'textarea',
                                'name':'termsOfUse',
                                'label':'Terms of Use',
                                'textarea':true
                            }
						},
						{
						    'data':'privacyPolicy', 
						    'type':'text', 
						    'title':'Privacy Policy', 
						    'visible':false, 
						    'control':{
                                'type':'textarea',
                                'name':'privacyPolicy',
                                'label':'Privacy Policy',
                                'textarea':true
                            }
						},
						{
						    'data':'createdTime',  
						    'type':'timestamp', 
						    'title':'Created', 
						    'required':false, 
						    'control':{
		                        'type':'timestamp',
		                        'disabled':true
		                    },
						    'render':{'_':function(z){ return moment(z).format('l LTS'); }}
						},
						{
						    'data':'modifiedTime',  
						    'type':'timestamp', 
						    'title':'Modified',  
						    'required':false, 
						    'control':{
                                'type':'timestamp',
                                'disabled':true
                            },
						    'render':{'_':function(z){ return moment(z).format('l LTS'); }}
						}
		            ]
			    },
			    'columnfiltersConfig':{
		            'table':'organizations'
		        },
		        'datatableConfig':{
		            'mode':$.fn.ColumnFilters.Modes.CATEGORY_SETS,
		            'url':/*[[ @{/columnfilters} ]]*/ '/EdExchange/columnfilters',
		            'table':'organizations',
		            'order':[[1,'asc']]
		        }
			});
		});
	</script>
</body>
</html>