<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Footer Fragment</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>


<footer th:fragment="layoutFooter">
    <div class="doubling stackable three column ui grid container">
        <div class="column">
            <span th:text="${#dates.year(#dates.createToday())}">2013</span> PESC CDS Ed Exchange Directory Server
        </div>
        <div class="column">
            <h5 th:text="${#locale}">locale</h5>
        </div>
        <div class="column">
            <h5 th:text="${#vars.get('org.springframework.web.servlet.HandlerMapping.pathWithinHandlerMapping')}">controller path</h5>
        </div>
    </div>
</footer>
</body>
</html>
