<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="resourceHead">
        <link rel="shortcut icon" type="image/png" href="edex-favicon-16.png" th:href="@{assets/images/edex-favicon-16.png}" sizes="16x16" />
        <link rel="shortcut icon" type="image/png" href="edex-favicon-24.png" th:href="@{assets/images/edex-favicon-24.png}" sizes="24x24" />
        <link rel="shortcut icon" type="image/png" href="edex-favicon-32.png" th:href="@{assets/images/edex-favicon-32.png}" sizes="32x32" />
        <link rel="shortcut icon" type="image/png" href="edex-favicon-48.png" th:href="@{assets/images/edex-favicon-48.png}" sizes="48x48" />
        <link rel="shortcut icon" type="image/png" href="edex-favicon-64.png" th:href="@{assets/images/edex-favicon-64.png}" sizes="64x64" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />

    </th:block>
</head>
<body>
	<th:block th:fragment="resourceScripts">
        <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </th:block>
</body>
</html>
