<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Footer Fragment</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<footer class="row" th:fragment="layoutFooter">
    	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        	&copy; <span th:text="${#dates.year(#dates.createToday())}">2013</span> PESC CDS Ed Exchange Directory Server
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
            <h5 th:text="${#locale}">en_US</h5>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        	<h5 th:text="${#vars.get('org.springframework.web.servlet.HandlerMapping.pathWithinHandlerMapping')}">controller path</h5>
        </div>
    </footer>
</body>
</html>
