<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Nav Fragment</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<nav th:fragment="layoutNav">
    	<ul th:with="currentView=${#vars.get('org.springframework.web.servlet.HandlerMapping.pathWithinHandlerMapping')}">
            <li><a href="/logout" th:href="@{/logout}">Logout</a></li>
            <li th:unless="${currentView.equals('/') or #strings.startsWith(currentView,'/home')}">
            	<a href="/home" th:href="@{/home}">Home</a>
            </li>
            <li th:unless="${#strings.startsWith(currentView,'/organizations')}">
            	<a href="/organizations" th:href="@{/organizations}">Organizations</a>
            </li>
            <li th:unless="${#strings.startsWith(currentView,'/contacts')}">
            	<a href="/contacts" th:href="@{/contacts}">Contacts</a>
            </li>
        </ul>
    </nav>
</body>
</html>
