<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="resourceHead (title)">
    <title th:text="*{title}">Page Title</title>
    <meta http-equiv="Content-Type" charset="utf-8" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/png" href="edex-favicon-16.png" th:href="@{/resources/images/edex-favicon-16.png}" sizes="16x16" />
    <link rel="shortcut icon" type="image/png" href="edex-favicon-24.png" th:href="@{/resources/images/edex-favicon-24.png}" sizes="24x24" />
    <link rel="shortcut icon" type="image/png" href="edex-favicon-32.png" th:href="@{/resources/images/edex-favicon-32.png}" sizes="32x32" />
    <link rel="shortcut icon" type="image/png" href="edex-favicon-48.png" th:href="@{/resources/images/edex-favicon-48.png}" sizes="48x48" />
    <link rel="shortcut icon" type="image/png" href="edex-favicon-64.png" th:href="@{/resources/images/edex-favicon-64.png}" sizes="64x64" />
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../../resources/css/bootstrap-theme.min.css" th:href="@{/resources/css/bootstrap-theme.min.css}" />
    <link rel="stylesheet" href="../../resources/css/dataTables.bootstrap.css" th:href="@{/resources/css/dataTables.bootstrap.css}" />
    <link rel="stylesheet" href="../../resources/css/datepicker.css" th:href="@{/resources/css/datepicker.css}" />
    <link rel="stylesheet" href="../../resources/css/datepicker3.css" th:href="@{/resources/css/datepicker3.css}" />
    <link rel="stylesheet" href="../../resources/css/fuelux.min.css" th:href="@{/resources/css/fuelux.min.css}" />
    <link rel="stylesheet" href="../../resources/css/columnfilters-0.0.1b.css" th:href="@{/resources/css/columnfilters-0.0.1b.css}" />
    <link rel="stylesheet" href="../../resources/css/typeahead-ext.css" th:href="@{/resources/css/typeahead-ext.css}" />
    <link rel="stylesheet" href="../../resources/css/edex-master-style.css" th:href="@{/resources/css/edex-master-style.css}" />
    
    <th:block th:switch="${#vars.get('org.springframework.web.servlet.HandlerMapping.pathWithinHandlerMapping')}">
		<script th:case="'/documentFormats'" id="addEditForm" type="text/template" th:include="forms/docformat :: form"></script>
    </th:block>
</head>

<body>
	<th:block th:fragment="resourceScripts">
    	<script src="../../resources/js/jquery-2.1.1.min.js" th:src="@{/resources/js/jquery-2.1.1.min.js}"></script>
        <script src="../../resources/js/underscore-min.js" th:src="@{/resources/js/underscore-min.js}"></script>
        <script src="../../resources/js/backbone-min.js" th:src="@{/resources/js/backbone-min.js}"></script>
		<script src="../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
        <script src="../../resources/js/typeahead.bundle.js" th:src="@{/resources/js/typeahead.bundle.js}"></script>
        <script src="../../resources/js/jquery.dataTables.min.js" th:src="@{/resources/js/jquery.dataTables.min.js}"></script>
        <script src="../../resources/js/dataTables.bootstrap.js" th:src="@{/resources/js/dataTables.bootstrap.js}"></script>
        <script src="../../resources/js/bootstrap-datepicker.js" th:src="@{/resources/js/bootstrap-datepicker.js}"></script>
        <script src="../../resources/js/spinbox.js" th:src="@{/resources/js/spinbox.js}"></script>
        <script src="../../resources/js/columnfilters-0.0.1b.js" th:src="@{/resources/js/columnfilters-0.0.1b.js}"></script>
    </th:block>
</body>
</html>
