<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Delivery Options Form Fragment</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../../../resources/css/bootstrap-theme.min.css" th:href="@{/resources/css/bootstrap-theme.min.css}" />
    <link rel="stylesheet" href="../../../resources/css/dataTables.bootstrap.css" th:href="@{/resources/css/dataTables.bootstrap.css}" />
    <link rel="stylesheet" href="../../../resources/css/datepicker.css" th:href="@{/resources/css/datepicker.css}" />
    <link rel="stylesheet" href="../../../resources/css/datepicker3.css" th:href="@{/resources/css/datepicker3.css}" />
    <link rel="stylesheet" href="../../../resources/css/fuelux.min.css" th:href="@{/resources/css/fuelux.min.css}" />
    <link rel="stylesheet" href="../../../resources/css/edex-master-style.css" th:href="@{/resources/css/edex-master-style.css}" />
</head>
<body>

<div class="container-fluid" th:fragment="form">
    <form class="form-horizontal" role="form" accept-charset="utf-8">
		<input type="hidden" id="id" name="id" value="" />
        
        <!-- member/typeahead -->
        <div class="form-group ta-form-input-ctrl dtview-form-member has-feedback">
            <div class="col-sm-2 text-right">
                <label for="member" class="control-label text-nowrap danger">Member</label><br />
                <span class="help-text text-danger"><em>required</em></span>
            </div>
            <div id="ta-member" class="col-sm-10">
                <input type="text" 
                       id="member" 
                       data-provide="typeahead"
                       autocomplete="off" 
                       class="form-control typeahead" 
                       value="" />
                <span class="glyphicon form-control-feedback hidden"></span>
            </div>
        </div>
        
        <!-- format/typeahead -->
        <div class="form-group ta-form-input-ctrl dtview-form-format has-feedback">
            <div class="col-sm-2 text-right">
                <label for="format" class="control-label text-nowrap danger">Format</label><br />
                <span class="help-text text-danger"><em>required</em></span>
            </div>
            <div id="ta-format" class="col-sm-10">
                <input type="text" 
                       id="format" 
                       data-provide="typeahead"
                       autocomplete="off" 
                       class="form-control typeahead" 
                       value="" />
                <span class="glyphicon form-control-feedback hidden"></span>
            </div>
        </div>
        
        <!-- webserviceUrl/text -->
        <div class="form-group dtview-form-webserviceUrl">
        	<label for="webserviceUrl" class="col-sm-2 control-label">Web Service URL</label>
            <div class="col-sm-10">
        		<input type="text" id="webserviceUrl" autocomplete="off" class="form-control" />
            </div>
        </div>
        
        <!-- deliveryMethod/dropdown -->
        <div class="form-group dtview-form-deliveryMethod"></div>
        
        <!-- deliveryConfirm/boolean toggle -->
        <div class="form-group dtview-form-deliveryConfirm"></div>
        
        <!-- error/boolean toggle -->
        <div class="form-group dtview-form-error"></div>
        
        <!-- operationalStatus/radioset -->
        <div class="form-group dtview-form-operationalStatus">
        	<label class="col-sm-2 control-label">Operational Status</label>
            <div class="btn-group col-sm-10" data-toggle="buttons"></div>
        </div>
        
    </form>
</div>
<script src="../../../resources/js/jquery-2.1.1.min.js" th:src="@{/resources/js/jquery-2.1.1.min.js}"></script>
<script src="../../../resources/js/underscore-min.js" th:src="@{/resources/js/underscore-min.js}"></script>
<script src="../../../resources/js/backbone-min.js" th:src="@{/resources/js/backbone-min.js}"></script>
<script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
<script src="../../../resources/js/typeahead.bundle.js" th:src="@{/resources/js/typeahead.bundle.js}"></script>
<script src="../../../resources/js/jquery.dataTables.min.js" th:src="@{/resources/js/jquery.dataTables.min.js}"></script>
<script src="../../../resources/js/dataTables.bootstrap.js" th:src="@{/resources/js/dataTables.bootstrap.js}"></script>
<script src="../../../resources/js/bootstrap-datepicker.js" th:src="@{/resources/js/bootstrap-datepicker.js}"></script>
<script src="../../../resources/js/spinbox.js" th:src="@{/resources/js/spinbox.js}"></script>
</body>
</html>