<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>An Error Occurred</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div th:fragment="transactions">

    <div class="well">

            <form name="transactionFrom" ng-submit="transactionCtrl.getTransactions()" novalidate="novalidate" class="glow">
                <div class="row">
                <div class="col-sm-5">
                    <div class="col-sm-6">
                        <b>From Date</b>
                        <p class="input-group">
                            <input type="text" class="form-control" placeholder="MM/DD/YYYY"
                                   uib-datepicker-popup="MM/dd/yyyy" ng-model="transactionCtrl.startDate"
                                   is-open="transactionCtrl.startDatePopup.opened" datepicker-options="dateOptions"
                                   close-text="Close"/>
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                        ng-click="transactionCtrl.openStartDatePopup()"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <b>To Date</b>
                        <p class="input-group">
                            <input type="text" class="form-control" placeholder="MM/DD/YYYY"
                                   uib-datepicker-popup="MM/dd/yyyy" ng-model="transactionCtrl.endDate"
                                   is-open="transactionCtrl.endDatePopup.opened" datepicker-options="dateOptions"
                                   close-text="Close"/>
                            <span class="input-group-btn">
                               <button type="button" class="btn btn-default" ng-click="transactionCtrl.openEndDatePopup()">
                                   <i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="col-sm-4">
                    <b>Status</b>
                    <div>
                        <div class="btn-group">
                            <label class="btn btn-primary" ng-model="transactionCtrl.status"
                                   uib-btn-radio="'Incomplete'">Incomplete</label>
                            <label class="btn btn-primary" ng-model="transactionCtrl.status"
                                   uib-btn-radio="'Complete'">Complete</label>
                        </div>
                    </div>
                    </div>

                    <div class="col-sm-4">
                    <b>Operation</b>
                    <div>
                        <div class="btn-group">
                            <label class="btn btn-primary" ng-model="transactionCtrl.operation"
                                   uib-btn-radio="'Send'">Send</label>
                            <label class="btn btn-primary" ng-model="transactionCtrl.operation"
                                   uib-btn-radio="'Receive'">Receive</label>
                        </div>
                    </div>
                    </div>
                    <!--
                    <div class="col-sm-2">
                        <b>Error</b>
                        <button type="button" class="btn btn-primary"
                                ng-model="transactionCtrl.error"
                                uib-btn-checkbox btn-checkbox-true="true"
                                btn-checkbox-false="false">
                            Error
                        </button>
                    </div>
                    -->
                    <div class="col-sm-4">
                        <b>Fetch Size</b>

                        <div>
                            <input style="width: 80px;" type="number" name="input" ng-model="transactionCtrl.limit" min="1" max="100">
                        </div>
                    </div>
                </div>
        </div>
        <div style="padding: 15px;">

            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Apply Filter
            </button>
        </div>
        </form>


    </div>

    <div>
        <uib-pagination
                total-items="transactionCtrl.totalRecords"
                ng-model="transactionCtrl.offset"
                max-size="10"
                class="pagination-sm"
                items-per-page="transactionCtrl.limit"
                boundary-link-numbers="true"
                rotate="false" ng-change="transactionCtrl.getTransactions()"></uib-pagination>

    </div>

    <div style="margin-top: 20px;">
        <table st-table="transactionCtrl.transactions" class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Recipient</th>
                <th>Sender</th>
                <th>Operation</th>
                <th>Format</th>
                <th>Type</th>
                <th>Dept.</th>
                <th>Size</th>
                <th>Path</th>
                <th>Occurred At</th>
                <th>Acknowledged At</th>
                <th>Error</th>
                <th>Acknowledgement sent/received</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="tran in transactionCtrl.transactions">
                <td>{{tran.id}}</td>
                <td><a ng-href="{{transactionCtrl.getOrgURL(tran.recipientId)}}">{{tran.recipientId}}</a></td>
                <td><a ng-href="{{transactionCtrl.getOrgURL(tran.senderId)}}">{{tran.senderId}}</a></td>
                <td>{{tran.operation}}</td>
                <td>{{tran.fileFormat}}</td>
                <td>{{tran.documentType}}</td>
                <td>{{tran.department}}</td>
                <td>{{tran.fileSize | bytes}}</td>
                <td>
                    <a ng-href="files?tran_id={{tran.id}}">{{tran.filePath}}</a>

                </td>
                <td>{{tran.occurredAt | date:'medium'}}</td>
                <td>{{tran.acknowledgedAt | date:'medium'}}</td>
                <td>{{tran.error}}</td>
                <td>{{tran.acknowledged}}</td>
                <td>
                    <button ng-show="tran.operation == 'SEND'" type="button" ng-click="transactionCtrl.resend(tran)" class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-send"></span> Resend
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


</div>

<div th:fragment="upload-status">
    <div th:if="${error} == true">
        <div>The following error occurred:</div>
    </div>
    <div th:text="${status}"></div>
</div>

<div th:fragment="upload">

    <form name="uploadForm" ng-submit="uploadForm.$valid && uploadCtrl.uploadFile()" novalidate="novalidate">


        <div>
            <div class="form-group">
                <strong>School Code</strong>
                <div class="form-inline">
                    <div class="form-group">

                        <input class="form-control" type="text" ng-model="uploadCtrl.schoolCode" placeholder="Code" style="width: 110px;"> </input>


                        <select class="form-control" style="width: 110px;" required="required"
                                ng-model="uploadCtrl.schoolCodeType">
                            <option value="">Code Type</option>
                            <option value="ACT">ACT</option>
                            <option value="ATP">ATP</option>
                            <option value="FICE">FICE</option>
                            <option value="IPEDS">IPEDS</option>
                        </select>

                    </div>
                </div>
            </div>

            <div class="form-group">
                <strong>Document Format</strong>
                <select class="form-control" style="width: 160px;" required="required"
                        ng-model="uploadCtrl.documentFormat"
                        ng-options="documentFormat.name for documentFormat in uploadCtrl.documentFormats track by documentFormat.id">

                </select>

                <p>
                    {{documentFormat.description}}
                </p>
            </div>

            <div class="form-group">
                <strong>Document Type</strong>
                <select class="form-control" style="width: 160px;" required="required"
                        ng-model="uploadCtrl.documentType"
                        ng-options="documentType.name for documentType in uploadCtrl.documentTypes track by documentType.id">

                </select>

                <p>
                    {{documentType.description}}
                </p>
            </div>

            <div class="form-group">
                <strong>Department</strong>
                <select class="form-control" style="width: 160px;" required="required"
                        ng-model="uploadCtrl.department"
                        ng-options="department.name for department in uploadCtrl.departments track by department.id">

                </select>

                <p>
                    {{department.description}}
                </p>
            </div>


            <div class="form-group">
                <div><strong>Transcript File</strong></div>
                <div class="btn btn-default btn-file">
                    Browse <input type="file" file-model="uploadCtrl.fileToUpload"/>
                </div>

                <span>{{uploadCtrl.fileToUpload.name}}</span>
            </div>
        </div>

        <div class="btn-group">
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-send"></span> Send
            </button>
        </div>
    </form>
</div>

<div th:fragment="about">
    <div>

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <a href="http://www.pesc.org/interior.php?page_id=217">EDExchange by the Common Data Services (CDS)
                        Task Force</a>
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i>EDExchange</h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            The mission of the PESC Common Data Services taskforce is to improve security, reliability,
                            efficiency and speed in the transfer of all educational data types by developing an open web
                            services network and associated standards to benefit the education of students, streamline
                            processes for institutions, and facilitate the advancement of services offered for
                            education. (12.2011)
                        </p>
                        <a href="#about" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Free &amp; Open Source</h4>
                    </div>
                    <div class="panel-body">
                        <p>The establishment of an open, data exchange network for the education community.</p>
                        <a href="#about" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> Easy to Use</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla
                            aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus
                            eveniet incidunt dicta nostrum quod?</p>
                        <a href="#about" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Portfolio Heading</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">EDExchange Features</h2>
            </div>
            <div class="col-md-6">
                <p>EDExchange project features:</p>
                <ul class="list-unstyled">
                    <li>
                        <strong>Open Source</strong>
                    </li>
                    <li>Directory Server</li>
                    <li>Network Server</li>
                    <li>Exchange any type of document with member organizations.</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id
                    reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia
                    dolorum ducimus unde.</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="http://placehold.it/700x450" alt="">
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum
                        deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#directory">Directory</a>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>EDExchange by the Common Data Services (CDS) Task Force</p>
                </div>
            </div>
        </footer>

    </div>
</div>

</body>
</html>

