<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>An Error Occurred</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div th:fragment="transactions">

    <div class="well">

            <form name="transactionFrom" ng-submit="transactionCtrl.getTransactions()" novalidate="novalidate" class="glow">
                <div class="row">
                <div class="col-sm-3">

                        <div>
                            <b>From Date</b>
                            <p class="input-group">
                                <input type="text" class="form-control" placeholder="MM/DD/YYYY"
                                       uib-datepicker-popup="MM/dd/yyyy" ng-model="transactionCtrl.startDate"
                                       is-open="transactionCtrl.startDatePopup.opened" datepicker-options="dateOptions"
                                       close-text="Close"/>
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                        ng-click="transactionCtrl.openStartDatePopup()"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                            </p>
                        </div>
                        <div>
                            <b>To Date</b>
                            <p class="input-group">
                                <input type="text" class="form-control" placeholder="MM/DD/YYYY"
                                       uib-datepicker-popup="MM/dd/yyyy" ng-model="transactionCtrl.endDate"
                                       is-open="transactionCtrl.endDatePopup.opened" datepicker-options="dateOptions"
                                       close-text="Close"/>
                            <span class="input-group-btn">
                               <button type="button" class="btn btn-default" ng-click="transactionCtrl.openEndDatePopup()">
                                   <i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            </p>
                        </div>


                </div>
                <div class="col-sm-9">
                    <div class="col-sm-4">
                    <b>Status</b>
                    <div>
                        <div class="btn-group">
                            <label class="btn btn-primary" ng-model="transactionCtrl.status"
                                   uib-btn-radio="'Incomplete'">Incomplete</label>
                            <label class="btn btn-primary" ng-model="transactionCtrl.status"
                                   uib-btn-radio="'Complete'">Complete</label>
                        </div>
                    </div>
                    </div>

                    <div class="col-sm-3">
                    <b>Operation</b>
                    <div>
                        <div class="btn-group">
                            <label class="btn btn-primary" ng-model="transactionCtrl.operation"
                                   uib-btn-radio="'Send'">Send</label>
                            <label class="btn btn-primary" ng-model="transactionCtrl.operation"
                                   uib-btn-radio="'Receive'">Receive</label>
                        </div>
                    </div>
                    </div>
                    <!--
                    <div class="col-sm-2">
                        <b>Error</b>
                        <button type="button" class="btn btn-primary"
                                ng-model="transactionCtrl.error"
                                uib-btn-checkbox btn-checkbox-true="true"
                                btn-checkbox-false="false">
                            Error
                        </button>
                    </div>
                    -->
                    <div class="col-sm-3">
                        <b>Delivery Status</b>
                        <div>
                            <div class="btn-group">
                                <label class="btn btn-primary" ng-model="transactionCtrl.deliveryStatus"
                                       uib-btn-radio="'SUCCESS'">Success</label>
                                <label class="btn btn-primary" ng-model="transactionCtrl.deliveryStatus"
                                       uib-btn-radio="'FAILURE'">Failure</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <b>Fetch Size</b>

                        <div>
                            <input style="width: 80px;" type="number" name="input" ng-model="transactionCtrl.limit" min="1" max="100">
                        </div>
                    </div>
                </div>
        </div>
        <div style="margin: 20px 0 0 0;">

            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-search"></span> Apply Filter
            </button>

            <button type="button" class="btn btn-default" ng-click="transactionCtrl.reset()">
                <span class="glyphicon glyphicon-refresh"></span> Reset
            </button>
        </div>
        </form>


    </div>

    <div>
        <uib-pagination
                total-items="transactionCtrl.totalRecords"
                ng-model="transactionCtrl.offset"
                max-size="10"
                class="pagination-sm"
                items-per-page="transactionCtrl.limit"
                boundary-link-numbers="true"
                rotate="false" ng-change="transactionCtrl.getTransactions()"></uib-pagination>

    </div>

    <div style="margin-top: 20px;">
        <table st-table="transactionCtrl.transactions" class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Recipient</th>
                <th>Sender</th>
                <th>Operation</th>
                <th>Format</th>
                <th>Type</th>
                <th>Dept.</th>
                <th>Size</th>
                <th>Document</th>
                <th>Transcript Request</th>
                <th>Occurred At</th>
                <th>Acknowledged At</th>
                <th>Error</th>
                <th>Acknowledgement sent/received</th>
                <th>Delivery Status</th>
                <th>Delivery Message</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="tran in transactionCtrl.transactions">
                <td>{{tran.id}}</td>
                <td><a ng-href="{{transactionCtrl.getOrgURL(tran.recipientId)}}">{{tran.recipientId}}</a></td>
                <td><a ng-href="{{transactionCtrl.getOrgURL(tran.senderId)}}">{{tran.senderId}}</a></td>
                <td>{{tran.operation}}</td>
                <td>{{tran.fileFormat}}</td>
                <td>{{tran.documentType}}</td>
                <td>{{tran.department}}</td>
                <td>{{tran.fileSize | bytes}}</td>
                <td>
                    <a ng-href="files?tran_id={{tran.id}}">{{tran.filePath}}</a>

                </td>
                <td>
                    <a ng-href="files?tran_id={{tran.id}}&show_request=true">{{tran.requestFilePath}}</a>

                </td>
                <td>{{tran.occurredAt | date:'medium'}}</td>
                <td>{{tran.acknowledgedAt | date:'medium'}}</td>
                <td>{{tran.error}}</td>
                <td>{{tran.acknowledged}}</td>
                <td>{{tran.status}}</td>
                <td>{{tran.message}}</td>
                <td>
                    <button ng-show="tran.operation == 'SEND'" type="button" ng-click="transactionCtrl.resend(tran)" class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-send"></span> Resend
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


</div>

<div th:fragment="upload-status">
    <div th:if="${error} == true">
        <div>The following error occurred:</div>
    </div>
    <div th:text="${status}"></div>
</div>

<div th:fragment="upload">

    <form name="uploadForm" ng-submit="uploadForm.$valid && uploadCtrl.uploadFile()" novalidate="novalidate">


        <div>
            <div th:if="${institution}==false" class="form-group" ng-show="uploadCtrl.documentFormat.name!='PESCXML'">
                <strong>Source School Code</strong>
                <div class="form-inline">
                    <div class="form-group" ng-class="{ 'has-error' : uploadForm.sourceSchoolCode.$invalid && (!uploadForm.sourceSchoolCode.$pristine || uploadForm.$submitted) }">
                        <input name="sourceSchoolCode" class="form-control" type="text" th:required="${institution}==false" ng-model="uploadCtrl.sourceSchoolCode" placeholder="Code" style="width: 110px;"> </input>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : uploadForm.sourceSchoolCodeType.$invalid && (!uploadForm.sourceSchoolCodeType.$pristine || uploadForm.$submitted) }">
                        <select name="sourceSchoolCodeType" class="form-control" style="width: 110px;" th:required="${institution}==false"
                                ng-model="uploadCtrl.sourceSchoolCodeType">
                            <option value="">Code Type</option>
                            <option value="ACT">ACT</option>
                            <option value="ATP">ATP</option>
                            <option value="FICE">FICE</option>
                            <option value="IPEDS">IPEDS</option>
                            <option value="OPEID">OPEID</option>
                        </select>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <strong>Destination School Code</strong>
                <div class="form-inline">
                    <div class="form-group" ng-class="{ 'has-error' : uploadForm.destinationSchoolCode.$invalid && (!uploadForm.destinationSchoolCode.$pristine || uploadForm.$submitted) }">
                        <input name="destinationSchoolCode" class="form-control" type="text" required="required" ng-model="uploadCtrl.destinationSchoolCode" placeholder="Code" style="width: 110px;"> </input>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : uploadForm.destinationSchoolCodeType.$invalid && (!uploadForm.destinationSchoolCodeType.$pristine || uploadForm.$submitted) }">
                        <select name="destinationSchoolCodeType" class="form-control" style="width: 110px;" required="required"
                                ng-model="uploadCtrl.destinationSchoolCodeType">
                            <option value="">Code Type</option>
                            <option value="ACT">ACT</option>
                            <option value="ATP">ATP</option>
                            <option value="FICE">FICE</option>
                            <option value="IPEDS">IPEDS</option>
                            <option value="OPEID">OPEID</option>
                        </select>

                    </div>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : uploadForm.documentFormat.$invalid && (!uploadForm.documentFormat.$pristine || uploadForm.$submitted) }">
                <strong>Document Format</strong>
                <select name="documentFormat" class="form-control" style="width: 160px;" required="required"
                        ng-model="uploadCtrl.documentFormat"
                        ng-options="documentFormat.name for documentFormat in uploadCtrl.documentFormats track by documentFormat.id">

                </select>

                <p>
                    {{documentFormat.description}}
                </p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : uploadForm.documentType.$invalid && (!uploadForm.documentType.$pristine || uploadForm.$submitted) }">
                <strong>Document Type</strong>
                <select name="documentType" class="form-control" style="width: 160px;" required="required"
                        ng-model="uploadCtrl.documentType"
                        ng-options="documentType.name for documentType in uploadCtrl.documentTypes track by documentType.id">

                </select>

                <p>
                    {{documentType.description}}
                </p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : uploadForm.department.$invalid && (!uploadForm.department.$pristine || uploadForm.$submitted) }">
                <strong>Department</strong>
                <select name="department" class="form-control" style="width: 160px;" required="required"
                        ng-model="uploadCtrl.department"
                        ng-options="department.name for department in uploadCtrl.departments track by department.id">

                </select>

                <p>
                    {{department.description}}
                </p>
            </div>

            <div class="form-group">
                <div><strong>Transcript File</strong></div>
                <div class="btn btn-default btn-file">
                    Browse <input type="file" file-model="uploadCtrl.fileToUpload"/>
                </div>

                <span>{{uploadCtrl.fileToUpload.name}}</span>
            </div>
<!--Transcript Request-->
            <div class="form-group" ng-show="uploadCtrl.documentFormat.name!='PESCXML'">
                <div class="form-group">
                    <div><strong>Student Release Authorized Indicator</strong></div>
                    <input type="checkbox" ng-model="uploadCtrl.studentRelease" checked="false"/>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : uploadForm.studentReleasedMethod.$invalid && (!uploadForm.studentReleasedMethod.$pristine || uploadForm.$submitted) }">
                    <div><strong>Student Release Authorized Method</strong></div>
                    <select name="studentReleasedMethod" class="form-control" style="width: 160px;" ng-model="uploadCtrl.studentReleasedMethod" ng-required="uploadCtrl.documentFormat.name!='PESCXML'">
                        <option value=""></option>
                        <option value="SIGNATURE">SIGNATURE</option>
                        <option value="ELECTRONIC_SIGNATURE">ELECTRONIC_SIGNATURE</option>
                        <option value="LEGITIMATE_EDUCATIONAL_INTEREST">LEGITIMATE_EDUCATIONAL_INTEREST</option>
                        <option value="OTHER">OTHER</option>
                    </select>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : uploadForm.studentBirthDate.$invalid && (!uploadForm.studentBirthDate.$pristine || uploadForm.$submitted) }">
                    <div><strong>Student Date of Birth</strong></div>
                    <input name="studentBirthDate" class="form-control" style="width: 160px;" type="text" ng-model="uploadCtrl.studentBirthDate" placeholder="format: 01/01/1995" ng-required="uploadCtrl.documentFormat.name!='PESCXML'"> </input>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : uploadForm.studentFirstName.$invalid && (!uploadForm.studentFirstName.$pristine || uploadForm.$submitted) }">
                    <div><strong>Student First Name</strong></div>
                    <input name="studentFirstName" class="form-control" style="width: 160px;" type="text" ng-model="uploadCtrl.studentFirstName" ng-required="uploadCtrl.documentFormat.name!='PESCXML'"> </input>
                </div>

                <div class="form-group">
                    <div><strong>Student Middle Name</strong></div>
                    <input class="form-control" style="width: 160px;" type="text" ng-model="uploadCtrl.studentMiddleName"> </input>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : uploadForm.studentLastName.$invalid && (!uploadForm.studentLastName.$pristine || uploadForm.$submitted) }">
                    <div><strong>Student Last Name</strong></div>
                    <input name="studentLastName" class="form-control" style="width: 160px;" type="text" ng-model="uploadCtrl.studentLastName" ng-required="uploadCtrl.documentFormat.name!='PESCXML'"> </input>
                </div>

                <div class="form-group">
                    <div><strong>Student Email</strong></div>
                    <input class="form-control" style="width: 160px;" type="text" ng-model="uploadCtrl.studentEmail"> </input>
                </div>

                <div class="form-group">
                    <div><strong>Student Last 4 SSN</strong></div>
                    <input class="form-control" style="width: 160px;" type="text" ng-model="uploadCtrl.studentPartialSsn"> </input>
                </div>

                <div class="form-group">
                    <div><strong>Student Current Enrollment Indicator</strong></div>
                    <input type="checkbox" ng-model="uploadCtrl.studentCurrentlyEnrolled" checked="false"/>
                </div>
            </div>
<!--Transcript Request-->
        </div>

        <div class="btn-group">
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-send"></span> Send
            </button>
        </div>
    </form>
</div>

<div th:fragment="about">
    <div>

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <a href="http://www.pesc.org/interior.php?page_id=217">EDExchange by the Common Data Services (CDS) Task Force</a>
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i>EDExchange</h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            EDExchange is a way for your college to exchange transcripts in a secure, standardized way with any other college
                            in the EDEXchange network.
                        </p>
                        <p></p>
                        <p>
                            Before EDExchange, there was no consistent way for colleges to request and exchange documents with each other. Service provider exchange networks operated in isolation from one another and any available legacy exchange platforms were built on old standards without delivery confirmation.
                        </p>

                        <p>See who's using EDExchange now!  <a class="btn btn-lg btn-default btn-block" th:href="${directoryServer} + '#directory'">Directory</a></p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Free &amp; Open Source</h4>
                    </div>
                    <div class="panel-body">
                        <p>Because EDExchange is open source you can extend it to suit your specific needs.</p>

                        <p>Learn more  <a class="btn btn-lg btn-default btn-block" th:href="${directoryServer} + 'documentation#faq'">FAQ</a></p>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> Easy to Use</h4>
                    </div>
                    <div class="panel-body">
                        <p>Sending a transcript to a college in the EDExchange network is as easy as entering the receiving school information, uploading the transcript, and clicking Send.</p>
                        <p></p>
                        <p>What you <u>won’t</u> have to do? Wonder whether or not the transcript was received or worry about file format or data security.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">How it Works</h2>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>Register</b>
                    </div>
                    <div class="panel-body">
                        Only members of the EDExchange network can send and receive documents over the network.  To become
                        a member, fill out the <a th:href="${directoryServer} + 'home#/registration-form'">registration form </a>.

                        <p>Once you complete
                            your registration form, you can login and begin to configure your organization to send and/or
                            receive documents.  Once your organization is reviewed and approved by PESC, you may begin to
                            use the network to send and receive documents.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>Configure</b>
                    </div>
                    <div class="panel-body">
                        <p>EDExchange member organizations can be configured to send and receive documents, just send, or just receive.  Alternatively, an
                            organization can utilize an EDExchange service provider to send and receive documents on it's behalf.</p>
                        <p><span style="font-weight: bolder;">To send documents</span>, you must publish a SSL certificate to the EDExchange directory server for the purpose
                            of creating and verifying digital signatures.</p>
                        <p>Institutions can alternatively use an EDExchange service provider to send documents on their behalf.</p>
                        <p><span style="font-weight: bolder;">To receive documents</span>, you must deploy an EDExchange network server on the internet using a domain name of your choice and
                            secure it using an SSL certificate.  HTTPS is required for URLs that are used to receive documents.</p>
                        <p>Once the network server is deployed, you must publish the endpoint (the URL used to receive documents) on the
                            EDExchange directory server.</p>
                        <p>Insitutions can alternatively use an EDExchange service provider to receive documents on their behalf.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>Send a Document</b>
                    </div>
                    <div class="panel-body">

                        <p>Note that the process of sending a document is implemented in the free <a th:href="${directoryServer} + '/documentation#network-server'">reference implementation</a> of the network server.</p>
                        <p>First, the sender obtains the published URL for the the receiver, based on attributes of the document and the intended recipient, from the EDExchange directory server.</p>
                        <p>Next, the sender must generate a digital signature for the document.</p>
                        <p>Next, create a transaction about the document for reporting purposes.</p>
                        <p>Send the document and digital signature to the receiving URL along with the directory ID
                            of the sender and the recipient, and optionally with a transaction ID and acknowledgment
                            URL.</p>
                        <p>Update the transaction with information about the delivery provided by the receiving
                            network server</p>


                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>Receive a Document</b>
                    </div>
                    <div class="panel-body">
                        <p>Note that the process of receiving a document is implemented in the free <a href="/documentation#network-server">reference implementation</a> of the network server.</p>
                        <p>When a document and it's digital signature are received by the the receiver's hosted network server over the published URL, </p>
                        the network server creates a transaction about the document for reporting purposes.</p>
                        <p>The network server then verifies the document's digital signature by obtaining the sender's published SSL certificate from the EDExchange directory server.</p>
                        <p>Once the document's signature is verified, the network server delivers the document to the recipient and sends an acknowledgement back to the sender,
                            with the sender's transaction ID, to indicate that the document has been delivered.</p>

                    </div>
                </div>

            </div>
        </div>

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">EDExchange Features</h2>
            </div>
            <div class="col-md-6">
                <p>EDExchange project features:</p>
                <ul class="list-unstyled">
                    <li>
                        <strong>Open Source</strong>
                    </li>
                    <li>Directory Server</li>
                    <li>Network Server</li>
                    <li>Exchange any type of document with member organizations.</li>
                </ul>
                <p>Both SOAP web services and a REST API are available for extending functionality.</p>
            </div>
        </div>
        <!-- /.row -->
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>EDExchange by the Common Data Services (CDS) Task Force</p>
                </div>
            </div>
        </footer>

    </div>
</div>

</body>
</html>

