<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      ng-app="networkServer">
<head>
    <title>Education Exchange - a standards based system for exchanging documents.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="description" content="EdExchange is a system for exchanging academic records." />
    <link rel="shortcut icon" type="image/png" href="edex-favicon-16.png" th:href="@{assets/images/edex-favicon-16.png}" sizes="16x16" />
    <link rel="shortcut icon" type="image/png" href="edex-favicon-24.png" th:href="@{assets/images/edex-favicon-24.png}" sizes="24x24" />
    <link rel="shortcut icon" type="image/png" href="edex-favicon-32.png" th:href="@{assets/images/edex-favicon-32.png}" sizes="32x32" />
    <link rel="shortcut icon" type="image/png" href="edex-favicon-48.png" th:href="@{assets/images/edex-favicon-48.png}" sizes="48x48" />
    <link rel="shortcut icon" type="image/png" href="edex-favicon-64.png" th:href="@{assets/images/edex-favicon-64.png}" sizes="64x64" />

    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/toaster.min.css" />

</head>
<body>


<toaster-container toaster-options="{'time-out': 5000, 'close-button':true}"></toaster-container>

<div ng-controller="NavController as nav">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">

                <!-- note the ng-init and ng-click here: -->
                <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#about" >Ed Exchange</a>
            </div>

            <div class="collapse navbar-collapse" uib-collapse="navCollapsed">
                <ul class="nav navbar-nav">
                    <li>
                        <a th:href="${directoryServer} + '/documentation'">Docs</a>
                    </li>
                    <li th:if="${isAuthenticated}" ng-class="{ active: nav.isActive('/settings')}">
                        <a class="item" href="#transaction-report">Transactions</a>
                    </li>
                    <li th:if="${isAuthenticated}==true"  ng-class="{ active: nav.isActive('/myorg')}">
                        <a class="item" href="#upload">Upload</a>
                    </li>

                </ul>
                <ul th:if="${isAuthenticated}==false" class="nav navbar-nav navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="admin">Sign In</a></li>
                    </ul>
                </ul>
                <ul th:if="${isAuthenticated}==true" class="nav navbar-nav navbar-right">
                    <li uib-dropdown>

                        <a href="#" class="dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                            <span th:text="${activeUser.name}">Name</span>
                            <span class="caret"></span>
                        </a>

                        <ul uib-dropdown-menu>
                            <li>
                                <div style="width: 60%;margin: auto; padding: 5px;">
                                    <a class="btn btn-primary" th:href="@{'#user/' + ${activeUser.id}}">Account</a>
                                </div>
                            </li>

                            <li>
                                <div style="width: 60%;margin: auto; padding: 5px;">
                                    <form th:action="@{logout}" method="post">
                                        <input type="submit" value="Sign Out" class="btn btn-default" />
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>


<div class="container" style="margin-top: 5em">
    <div ng-view>
    </div>


</div>

<script src="js/angular.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/angular-animate.min.js"></script>
<script src="js/toaster.min.js"></script>
<script src="js/ui-bootstrap-tpls-1.2.5.min.js"></script>

<script src="js/app.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/

    var activeUser = /*[[${activeUser}]]*/ null;

    var roles = /*[[${roles}]]*/ null;

    var directoryServer = /*[[${directoryServer}]]*/ null;

    /*]]>*/
</script>


</body>
</html>
