<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Contacts Form Fragment</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../../../resources/css/bootstrap-theme.min.css" th:href="@{/resources/css/bootstrap-theme.min.css}" />
    <link rel="stylesheet" href="../../../resources/css/dataTables.bootstrap.css" th:href="@{/resources/css/dataTables.bootstrap.css}" />
    <link rel="stylesheet" href="../../../resources/css/datepicker.css" th:href="@{/resources/css/datepicker.css}" />
    <link rel="stylesheet" href="../../../resources/css/datepicker3.css" th:href="@{/resources/css/datepicker3.css}" />
    <link rel="stylesheet" href="../../../resources/css/fuelux.min.css" th:href="@{/resources/css/fuelux.min.css}" />
    <link rel="stylesheet" href="../../../resources/css/edex-master-style.css" th:href="@{/resources/css/edex-master-style.css}" />
</head>
<body>

<div class="container-fluid" th:fragment="form">
    <form class="form-horizontal" role="form" accept-charset="utf-8">
		<input type="hidden" id="contactId" name="contact_id" value="" />
        
        <!-- contactName -->
        <div class="form-group dtview-form-contactName has-feedback">
        	<div class="col-sm-2 text-right">
       			<label for="contactName" class="control-label text-nowrap">Name</label><br />
            	<span class="help-text text-danger"><em>required</em></span>
            </div>
            <div class="col-sm-10">
        		<input type="text" id="contactName" autocomplete="off" maxlength="50" class="form-control" required="required" />
                <span class="glyphicon form-control-feedback hidden"></span>
            </div>
        </div>
        
        <!-- contactTitle -->
        <div class="form-group dtview-form-contactTitle has-feedback">
        	<div class="col-sm-2 text-right">
       			<label for="contactTitle" class="control-label text-nowrap">Title</label><br />
            	<span class="help-text text-danger"><em>required</em></span>
            </div>
            <div class="col-sm-10">
        		<input type="text" id="contactTitle" autocomplete="off" maxlength="50" class="form-control" required="required" />
                <span class="glyphicon form-control-feedback hidden"></span>
            </div>
        </div>
        
        <!-- contactType -->
        <div class="form-group dtview-form-contactType has-feedback">
        	<div class="col-sm-2 text-right">
       			<label for="contactType" class="control-label text-nowrap">Type</label><br />
            	<span class="help-text text-danger"><em>required</em></span>
            </div>
            <div class="col-sm-10">
        		<input type="text" id="contactType" autocomplete="off" maxlength="50" class="form-control" required="required" />
                <span class="glyphicon form-control-feedback hidden"></span>
            </div>
        </div>
        
        <!-- email -->
        <div class="form-group dtview-form-email has-feedback">
        	<div class="col-sm-2 text-right">
       			<label for="email" class="control-label text-nowrap">Email</label><br />
            	<span class="help-text text-danger"><em>required</em></span>
            </div>
            <div class="col-sm-10">
        		<input type="text" id="email" autocomplete="off" maxlength="128" class="form-control" required="required" />
                <span class="glyphicon form-control-feedback hidden"></span>
            </div>
        </div>
        
        <!-- phone1 -->
        <div class="form-group dtview-form-phone1 has-feedback">
        	<div class="col-sm-2 text-right">
       			<label for="phone1" class="control-label text-nowrap">Phone 1</label><br />
            	<span class="help-text text-danger"><em>required</em></span>
            </div>
            <div class="col-sm-10">
        		<input type="text" id="phone1" autocomplete="off" maxlength="20" class="form-control" required="required" />
                <span class="glyphicon form-control-feedback hidden"></span>
            </div>
        </div>
        
        <!-- phone2 -->
        <div class="form-group dtview-form-phone2">
        	<div class="col-sm-2 text-right">
       			<label for="phone2" class="control-label text-nowrap">Phone 2</label>
            </div>
            <div class="col-sm-10">
        		<input type="text" id="phone2" autocomplete="off" maxlength="20" class="form-control" />
            </div>
        </div>
        
        <!-- streetAddress1 -->
        <div class="form-group dtview-form-streetAddress1 has-feedback">
        	<div class="col-sm-2 text-right">
       			<label for="streetAddress1" class="control-label text-nowrap">Address 1</label><br />
            	<span class="help-text text-danger"><em>required</em></span>
            </div>
            <div class="col-sm-10">
        		<input type="text" id="streetAddress1" autocomplete="off" maxlength="100" class="form-control" required="required" />
                <span class="glyphicon form-control-feedback hidden"></span>
            </div>
        </div>
        
        <!-- streetAddress2 -->
        <div class="form-group dtview-form-streetAddress2 has-feedback">
        	<div class="col-sm-2 text-right">
       			<label for="streetAddress2" class="control-label text-nowrap">Address 2</label><br />
            	<span class="help-text text-danger"><em>required</em></span>
            </div>
            <div class="col-sm-10">
        		<input type="text" id="streetAddress2" autocomplete="off" maxlength="100" class="form-control" required="required" />
                <span class="glyphicon form-control-feedback hidden"></span>
            </div>
        </div>
        
        <!-- streetAddress3 -->
        <div class="form-group dtview-form-streetAddress3">
        	<div class="col-sm-2 text-right">
       			<label for="streetAddress3" class="control-label text-nowrap">Address 3</label><br />
            </div>
            <div class="col-sm-10">
        		<input type="text" id="streetAddress3" autocomplete="off" maxlength="100" class="form-control" />
            </div>
        </div>
        
        <!-- streetAddress4 -->
        <div class="form-group dtview-form-streetAddress4">
        	<div class="col-sm-2 text-right">
       			<label for="streetAddress4" class="control-label text-nowrap">Address 4</label><br />
            </div>
            <div class="col-sm-10">
        		<input type="text" id="streetAddress4" autocomplete="off" maxlength="100" class="form-control" />
            </div>
        </div>
        
        <!-- city -->
        <div class="form-group dtview-form-city has-feedback">
        	<div class="col-sm-2 text-right">
       			<label for="city" class="control-label text-nowrap">City</label><br />
            	<span class="help-text text-danger"><em>required</em></span>
            </div>
            <div class="col-sm-10">
        		<input type="text" id="city" autocomplete="off" maxlength="50" class="form-control" required="required" />
                <span class="glyphicon form-control-feedback hidden"></span>
            </div>
        </div>
        
        <!-- state -->
        <div class="form-group dtview-form-state has-feedback">
        	<div class="col-sm-2 text-right">
       			<label for="state" class="control-label text-nowrap">State</label><br />
            	<span class="help-text text-danger"><em>required</em></span>
            </div>
            <div class="col-sm-10">
        		<input type="text" id="state" autocomplete="off" maxlength="50" class="form-control" required="required" />
                <span class="glyphicon form-control-feedback hidden"></span>
            </div>
        </div>
        
        <!-- zip -->
        <div class="form-group dtview-form-zip has-feedback">
        	<div class="col-sm-2 text-right">
       			<label for="zip" class="control-label text-nowrap">Zip</label><br />
            	<span class="help-text text-danger"><em>required</em></span>
            </div>
            <div class="col-sm-10">
        		<input type="text" id="zip" autocomplete="off" maxlength="20" class="form-control" required="required" />
                <span class="glyphicon form-control-feedback hidden"></span>
            </div>
        </div>
        
        <!-- country -->
        <div class="form-group dtview-form-country has-feedback">
        	<div class="col-sm-2 text-right">
       			<label for="country" class="control-label text-nowrap">Country</label><br />
            	<span class="help-text text-danger"><em>required</em></span>
            </div>
            <div class="col-sm-10">
        		<input type="text" id="country" autocomplete="off" maxlength="50" class="form-control" required="required" />
                <span class="glyphicon form-control-feedback hidden"></span>
            </div>
        </div>
        
        <!-- directory (directory_id) / typeahead -->
        <div class="form-group ta-form-input-ctrl dtview-form-directory has-feedback">
            <div class="col-sm-2 text-right">
                <label for="directory" class="control-label text-nowrap danger">Directory</label><br />
                <span class="help-text text-danger"><em>required</em></span>
            </div>
            <div id="ta-directory" class="col-sm-10">
                <input type="text" 
                       id="directory" 
                       data-provide="typeahead"
                       autocomplete="off" 
                       class="form-control typeahead" 
                       value="" />
                <span class="glyphicon form-control-feedback hidden"></span>
            </div>
        </div>
        
        <!-- created/modified -->
        <div class="form-group dtview-form-createdTime">
        	<div class="col-sm-2 text-right">
            	<label for="createdTime" class="col-sm-2 control-label text-nowrap">Created</label>
            </div>
        	<div class="col-sm-10">
            	<input type="text" id="createdTime" autocomplete="off" class="form-control disabled" disabled="disabled" />
            </div>
        </div>
        <div class="form-group dtview-form-modifiedTime">
            <div class="col-sm-2 text-right">
            	<label for="modifiedTime" class="col-sm-2 control-label text-nowrap">Modified</label>
            </div>
            <div class="col-sm-10">
            	<input type="text" id="modifiedTime" autocomplete="off" class="form-control disabled" disabled="disabled" />
            </div>
        </div>
        
    </form>
</div>
<script src="../../../resources/js/jquery-2.1.1.min.js" th:src="@{/resources/js/jquery-2.1.1.min.js}"></script>
<script src="../../../resources/js/underscore-min.js" th:src="@{/resources/js/underscore-min.js}"></script>
<script src="../../../resources/js/backbone-min.js" th:src="@{/resources/js/backbone-min.js}"></script>
<script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
<script src="../../../resources/js/typeahead.bundle.js" th:src="@{/resources/js/typeahead.bundle.js}"></script>
<script src="../../../resources/js/jquery.dataTables.min.js" th:src="@{/resources/js/jquery.dataTables.min.js}"></script>
<script src="../../../resources/js/dataTables.bootstrap.js" th:src="@{/resources/js/dataTables.bootstrap.js}"></script>
<script src="../../../resources/js/bootstrap-datepicker.js" th:src="@{/resources/js/bootstrap-datepicker.js}"></script>
<script src="../../../resources/js/spinbox.js" th:src="@{/resources/js/spinbox.js}"></script>
</body>
</html>
