/*
ColumnFilters css for the columnfilters Datatables 1.10.x plugin
Version: 0.0.1b
License is free for everyone, no restrictions, you just can't claim it is 
yours and then try to restrict others from using it.
*/
.cf-data-filter-type-selection, .cf-common-value-dropdown {
	margin-right:4px;
}
.cf-common-value-dropdown ul.dropdown-menu {
	min-width:200px;
	max-height: 200px;
	overflow: hidden;
	overflow-y: auto;
}
.cf-common-value-dropdown ul.dropdown-menu li button {
	background-color:transparent !important;
	border-style:none;
}
.cf-common-value-list-item-hover {
	background-color:#f3f7f7;
}
.cf-common-value-list-item-hover button {
	font-weight:bold;
}
.cf-common-value-dropdown ul.dropdown-menu li.disabled button {
	color:#eee;
}

.cf-data-filters-container {
	min-height:50px;
	max-height:150px;
	overflow:auto;
}
.cf-filter-edit-button {
	padding:0;
	opacity:0.2;
	margin-right:10px;
}
.cf-filter-edit-button:hover {
	opacity:0.5;
}

.cf-datafilters-controller-footer {
	margin-bottom:0;
	border-top-left-radius:0;
	border-top-right-radius:0;
	min-height:20px;
}
.cf-datafilters-controller-footer .navbar-nav > li > a {
	line-height:none;
	padding-top:inherit;
	padding-bottom:inherit;
}
.cf-datafilters-controller-footer .nav > li > a {
	padding:inherit;
}
.cf-filter-widget {
	clear:both;
	padding:1px;
}
.cf-widget-type-label {
	min-width:75px;
	font-weight:bold;
	padding-right:10px;
}
.cf-widget-types-container {
	padding-left:5px;
}

#cfFilterSetSaveDescription { resize:none; }

/* Additions to spinbox */
.fuelux .spinbox.digits-5 {
	width:120px;
}

.cf-list {
	/*min-width:250px;*/
	height:100px;
	overflow:auto;
}
.cf-list-item {
	padding:2px;
	margin-right:5px;
}

.cf-enum-dropdown-list {
	min-width:150px;
	/*max-width:300px;*/
	max-height: 200px;
	overflow: hidden;
	overflow-y: auto;
}
.cf-enum-dropdown-list li {
	padding-left:8px;
}