/*
ColumnFilters css for the columnfilters Datatables 1.10.x plugin
Version: 0.0.1b
License is free for everyone, no restrictions, you just can't claim it is 
yours and then try to restrict others from using it.
*/
.cf-notification {
	position:fixed !important;
	margin-top:-10px !important;
	z-index:99999 !important;
	max-height:100px !important;
}
.cf-notification p {
	max-height:3em;
	overflow:auto;
}

.cf-dropdown-menu-scroll-medium ul.dropdown-menu {
	max-height: 400px;
	overflow: hidden;
	overflow-y: auto;
}
.cf-dropdown-menu-scroll-small ul.dropdown-menu {
	max-height: 200px;
	overflow: hidden;
	overflow-y: auto;
}

.cf-data-filter-type-selection, .cf-common-value-dropdown {
	margin-right:4px;
}
.cf-common-value-dropdown ul.dropdown-menu {
	min-width:200px;
}
.cf-common-value-dropdown ul.dropdown-menu li button {
	background-color:transparent !important;
	border-style:none;
}
.cf-common-value-list-item-hover {
	background-color:#f3f7f7;
}
.cf-common-value-list-item-hover button {
	font-weight:bold;
}
.cf-common-value-dropdown ul.dropdown-menu li.disabled button {
	color:#eee;
}

.cf-data-filters-container {
	min-height:100px;
	max-height:150px;
	overflow:auto;
}
.cf-filter-edit-button {
	padding:0;
	opacity:0.2;
	margin-right:10px;
}
.cf-filter-edit-button:hover {
	opacity:0.5;
}

.cf-datafilters-controller-footer {
	margin-bottom:0;
	border-top-left-radius:0;
	border-top-right-radius:0;
	min-height:20px;
}
.cf-datafilters-controller-footer .navbar-nav > li > a {
	line-height:none;
	padding-top:inherit;
	padding-bottom:inherit;
}
.cf-datafilters-controller-footer .nav > li > a {
	padding:inherit;
}
.cf-filter-widget {
	clear:both;
	padding:1px;
}
.cf-widget-type-label {
	min-width:75px;
	font-weight:bold;
	padding-right:10px;
}
.cf-widget-types-container {
	padding-left:5px;
}

#cfFilterSetSaveDescription { resize:none; }

/* Additions to spinbox */
.fuelux .spinbox.digits-5 {
	width:120px;
}

.cf-list {
	/*min-width:250px;*/
	height:100px;
	overflow:auto;
}
.cf-list-item {
	padding:2px;
	margin-right:5px;
}

.cf-select-widget-list li {
	border-style:none!important;
	padding:3px 9px!important;
}
.cf-select-widget-list li button {
	margin-top:-4px;
}

.cf-enum-dropdown-list {
	min-width:150px;
	/*max-width:300px;*/
	max-height: 200px;
	overflow: hidden;
	overflow-y: auto;
}
.cf-enum-dropdown-list li {
	padding-left:8px;
	padding-right:8px;
}

.cf-nopad-dropdown {
	padding:0;
}

.cf-custom-ui-container {
	margin-left:5px;
	margin-right:5px;
}


/* Filters Control Nav Bar
 * Menus for Filter Categories and Filter Sets
*/
.cf-cancel-filter-set-changes-button, .cf-save-filter-set-changes-button {
	margin:5px 0 !important;
}

.cf-clear-all-filters-button {
	margin:3px 10px !important;
	opacity:0.5 !important;
}
.cf-clear-all-filters-button:hover {
	opacity:0.25 !important;
}
.cf-clear-all-filters-button.disabled {
	opacity:0.25 !important;
}
.cf-clear-all-filters-button.disabled:hover {
	cursor:default !important;
}

.cf-filter-category-menu-list {
	max-width:450px;
	max-height: 175px;
	overflow: hidden;
	overflow-y: auto;
	border-radius:4px !important;
	padding:0 !important;
	box-shadow:0px 6px 12px rgba(0, 0, 0, 0.176);
}
.cf-filter-category-menu-list li {
	border-left-style:none !important;
	border-right-style:none !important;
	border-top-style:none !important;
	border-radius:0 !important;
}
.cf-filter-category-menu-list li:nth-child(odd) {
	border-bottom:solid 2px #ccc !important;
	border-top:solid 1px #ccc !important;
}
.cf-filter-category-menu-list li:first-child {
	border-top-style:none !important;
}
.cf-filter-category-menu-list li:last-child {
	border-bottom-style:none !important;
}
.cf-filter-category-menu-list li h4 {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis !important;
}
.cf-filter-category-menu-list li p {
	min-width:300px;
	max-height:4em;
	white-space:normal;
	overflow:hidden;
	text-overflow:ellipsis !important;
}