body { padding-top:15px; }

.action-column {
	max-width:35px;
}
.notes-column {
	max-width:200px;
	overflow:hidden;
}

ul.dropdown-menu.scroll-list {
	max-height:200px;
	overflow:hidden;
	overflow-y:auto;
}

.refresh-datatable-btn-container {
	padding-right:20px;
}
.add-button-container button {
	margin-left:20px;
}

form textarea {
	resize:none;
}

footer {
	border-top:solid 1px #e4e4e4;
}